<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.CuadrocomparativoitemMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Cuadrocomparativoitem">
	<result column="A1_IDCUADROCOMPARATIVOITEM" property="idcuadrocomparativoitem" jdbcType="INTEGER" />
	<result column="A1_IDCUADROCOMPARATIVOFUENTE" property="idcuadrocomparativofuente" jdbcType="INTEGER" />
	<result column="A1_IDDETALLEPEDIDO" property="iddetallepedido" jdbcType="INTEGER" />
	<result column="A1_PRECIOREFERENCIAL" property="precioreferencial" jdbcType="DECIMAL" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Cuadrocomparativoitem">
	<result column="A1_IDCUADROCOMPARATIVOITEM" property="idcuadrocomparativoitem" jdbcType="INTEGER" />
	<result column="A1_IDCUADROCOMPARATIVOFUENTE" property="idcuadrocomparativofuente" jdbcType="INTEGER" />
	<result column="A1_IDDETALLEPEDIDO" property="iddetallepedido" jdbcType="INTEGER" />
	<result column="A1_PRECIOREFERENCIAL" property="precioreferencial" jdbcType="DECIMAL" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	<result column="A3_IDCUADROCOMPARATIVOFUENTE" property="cuadrocomparativofuenteIdcuadrocomparativofuente.idcuadrocomparativofuente" jdbcType="INTEGER" />
	<result column="A3_IDPACCONSOLIDADO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.idpacconsolidado" jdbcType="INTEGER" />
	<result column="A3_IDCATALOGOTIPOFUENTE" property="cuadrocomparativofuenteIdcuadrocomparativofuente.idcatalogotipofuente" jdbcType="VARCHAR" />
	<result column="A3_IDCATALOGOTIPOBIEN" property="cuadrocomparativofuenteIdcuadrocomparativofuente.idcatalogotipobien" jdbcType="VARCHAR" />
	<result column="A3_PROVEEDOR" property="cuadrocomparativofuenteIdcuadrocomparativofuente.proveedor" jdbcType="DECIMAL" />
	<result column="A3_RUCPROVEEDOR" property="cuadrocomparativofuenteIdcuadrocomparativofuente.rucproveedor" jdbcType="VARCHAR" />
	<result column="A3_NOMBREPROVEEDOR" property="cuadrocomparativofuenteIdcuadrocomparativofuente.nombreproveedor" jdbcType="VARCHAR" />
	<result column="A3_NOMBRECONTACTO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.nombrecontacto" jdbcType="VARCHAR" />
	<result column="A3_TELEFONOPROVEEDOR" property="cuadrocomparativofuenteIdcuadrocomparativofuente.telefonoproveedor" jdbcType="VARCHAR" />
	<result column="A3_CORREOPROVEEDOR" property="cuadrocomparativofuenteIdcuadrocomparativofuente.correoproveedor" jdbcType="VARCHAR" />
	<result column="A3_ENTIDADCONVOCANTE" property="cuadrocomparativofuenteIdcuadrocomparativofuente.entidadconvocante" jdbcType="VARCHAR" />
	<result column="A3_TIPONUMEROPROCESO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.tiponumeroproceso" jdbcType="VARCHAR" />
	<result column="A3_FECHACONSENTIMIENTOBUENAPRO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.fechaconsentimientobuenapro" jdbcType="TIMESTAMP" />
	<result column="A3_MARCA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.marca" jdbcType="VARCHAR" />
	<result column="A3_MODELO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.modelo" jdbcType="VARCHAR" />
	<result column="A3_PROCEDENCIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.procedencia" jdbcType="VARCHAR" />
	<result column="A3_ANIOFABRICACION" property="cuadrocomparativofuenteIdcuadrocomparativofuente.aniofabricacion" jdbcType="VARCHAR" />
	<result column="A3_GARANTIACOMERCIAL" property="cuadrocomparativofuenteIdcuadrocomparativofuente.garantiacomercial" jdbcType="VARCHAR" />
	<result column="A3_PLAZOENTREGA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.plazoentrega" jdbcType="INTEGER" />
	<result column="A3_FORMAPAGO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.formapago" jdbcType="VARCHAR" />
	<result column="A3_IDCATALOGOMONEDAFUENTE" property="cuadrocomparativofuenteIdcuadrocomparativofuente.idcatalogomonedafuente" jdbcType="VARCHAR" />
	<result column="A3_PRECIOUNITARIOMONEDACONSIGNADA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.preciounitariomonedaconsignada" jdbcType="VARCHAR" />
	<result column="A3_TIPOCAMBIO" property="cuadrocomparativofuenteIdcuadrocomparativofuente.tipocambio" jdbcType="DECIMAL" />
	<result column="A3_FECHASOLICITUD" property="cuadrocomparativofuenteIdcuadrocomparativofuente.fechasolicitud" jdbcType="TIMESTAMP" />
	<result column="A3_VECESREITEROSOLICITUD" property="cuadrocomparativofuenteIdcuadrocomparativofuente.vecesreiterosolicitud" jdbcType="INTEGER" />
	<result column="A3_FECHARECEPCION" property="cuadrocomparativofuenteIdcuadrocomparativofuente.fecharecepcion" jdbcType="TIMESTAMP" />
	<result column="A3_PROVEEDORDEDICACONTRATACION" property="cuadrocomparativofuenteIdcuadrocomparativofuente.proveedordedicacontratacion" jdbcType="VARCHAR" />
	<result column="A3_USUARIOPARTICIPORTM" property="cuadrocomparativofuenteIdcuadrocomparativofuente.usuarioparticiportm" jdbcType="VARCHAR" />
	<result column="A3_CUMPLERTM" property="cuadrocomparativofuenteIdcuadrocomparativofuente.cumplertm" jdbcType="VARCHAR" />
	<result column="A3_SETOMOENCUENTA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.setomoencuenta" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_EQUIPOAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="cuadrocomparativofuenteIdcuadrocomparativofuente.estadoauditoria" jdbcType="VARCHAR" />

	<result column="A10_IDDETALLEPEDIDO" property="detallepedidoIddetallepedido.iddetallepedido" jdbcType="INTEGER" />
	<result column="A10_IDPEDIDO" property="detallepedidoIddetallepedido.idpedido" jdbcType="INTEGER" />
	<result column="A10_GRUPOBIEN" property="detallepedidoIddetallepedido.grupobien" jdbcType="VARCHAR" />
	<result column="A10_CLASEBIEN" property="detallepedidoIddetallepedido.clasebien" jdbcType="VARCHAR" />
	<result column="A10_FAMILIABIEN" property="detallepedidoIddetallepedido.familiabien" jdbcType="VARCHAR" />
	<result column="A10_ITEMBIEN" property="detallepedidoIddetallepedido.itembien" jdbcType="VARCHAR" />
	<result column="A10_NOMBREITEM" property="detallepedidoIddetallepedido.nombreitem" jdbcType="VARCHAR" />
	<result column="A10_UNIDADMEDIDA" property="detallepedidoIddetallepedido.unidadmedida" jdbcType="INTEGER" />
	<result column="A10_CANTIDADAPROBADASIGA" property="detallepedidoIddetallepedido.cantidadaprobadasiga" jdbcType="INTEGER" />
	<result column="A10_CANTIDADSOLICITADASIGA" property="detallepedidoIddetallepedido.cantidadsolicitadasiga" jdbcType="INTEGER" />
	<result column="A10_CANTIDADATENDIDASIGA" property="detallepedidoIddetallepedido.cantidadatendidasiga" jdbcType="INTEGER" />
	<result column="A10_PRECIOUNITARIO" property="detallepedidoIddetallepedido.preciounitario" jdbcType="DECIMAL" />
	<result column="A10_VALORTOTAL" property="detallepedidoIddetallepedido.valortotal" jdbcType="DECIMAL" />
	<result column="A10_ESTADOPEDIDOSIGA" property="detallepedidoIddetallepedido.estadopedidosiga" jdbcType="SMALLINT" />
	<result column="A10_CODIGOCLASIFICADOR" property="detallepedidoIddetallepedido.codigoclasificador" jdbcType="VARCHAR" />
	<result column="A10_CODIGOTAREASIGA" property="detallepedidoIddetallepedido.codigotareasiga" jdbcType="VARCHAR" />
	<result column="A10_CODIGOTAREAPLANIN" property="detallepedidoIddetallepedido.codigotareaplanin" jdbcType="VARCHAR" />
	<result column="A10_FECHACREACIONAUDITORIA" property="detallepedidoIddetallepedido.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A10_USUARIOCREACIONAUDITORIA" property="detallepedidoIddetallepedido.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A10_CLASIFICADOR" property="detallepedidoIddetallepedido.clasificador" jdbcType="VARCHAR" />
	<result column="A10_OBSERVADOPORCP" property="detallepedidoIddetallepedido.observadoporcp" jdbcType="SMALLINT" />
	<result column="A10_FECHAOBSERVADOPORCP" property="detallepedidoIddetallepedido.fechaobservadoporcp" jdbcType="TIMESTAMP" />
	<result column="A10_FECHARETIRADOPORCP" property="detallepedidoIddetallepedido.fecharetiradoporcp" jdbcType="TIMESTAMP" />
	<result column="A10_EQUIPOAUDITORIA" property="detallepedidoIddetallepedido.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A10_PROGRAMAAUDITORIA" property="detallepedidoIddetallepedido.programaauditoria" jdbcType="VARCHAR" />
	<result column="A10_ESTADOAUDITORIA" property="detallepedidoIddetallepedido.estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDCUADROCOMPARATIVOITEM as A1_IDCUADROCOMPARATIVOITEM, A1.IDCUADROCOMPARATIVOFUENTE as A1_IDCUADROCOMPARATIVOFUENTE, A1.IDDETALLEPEDIDO as A1_IDDETALLEPEDIDO, A1.PRECIOREFERENCIAL as A1_PRECIOREFERENCIAL, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA 
	</sql>


	<sql id="Full_Column_List">
	A1.IDCUADROCOMPARATIVOITEM as A1_IDCUADROCOMPARATIVOITEM, A1.IDCUADROCOMPARATIVOFUENTE as A1_IDCUADROCOMPARATIVOFUENTE, A1.IDDETALLEPEDIDO as A1_IDDETALLEPEDIDO, A1.PRECIOREFERENCIAL as A1_PRECIOREFERENCIAL, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	A3.IDCUADROCOMPARATIVOFUENTE as A3_IDCUADROCOMPARATIVOFUENTE, A3.IDPACCONSOLIDADO as A3_IDPACCONSOLIDADO, A3.IDCATALOGOTIPOFUENTE as A3_IDCATALOGOTIPOFUENTE, A3.IDCATALOGOTIPOBIEN as A3_IDCATALOGOTIPOBIEN, 
	A3.PROVEEDOR as A3_PROVEEDOR, A3.RUCPROVEEDOR as A3_RUCPROVEEDOR, A3.NOMBREPROVEEDOR as A3_NOMBREPROVEEDOR, A3.NOMBRECONTACTO as A3_NOMBRECONTACTO, 
	A3.TELEFONOPROVEEDOR as A3_TELEFONOPROVEEDOR, A3.CORREOPROVEEDOR as A3_CORREOPROVEEDOR, A3.ENTIDADCONVOCANTE as A3_ENTIDADCONVOCANTE, A3.TIPONUMEROPROCESO as A3_TIPONUMEROPROCESO, 
	A3.FECHACONSENTIMIENTOBUENAPRO as A3_FECHACONSENTIMIENTOBUENAPRO, A3.MARCA as A3_MARCA, A3.MODELO as A3_MODELO, A3.PROCEDENCIA as A3_PROCEDENCIA, 
	A3.ANIOFABRICACION as A3_ANIOFABRICACION, A3.GARANTIACOMERCIAL as A3_GARANTIACOMERCIAL, A3.PLAZOENTREGA as A3_PLAZOENTREGA, A3.FORMAPAGO as A3_FORMAPAGO, 
	A3.IDCATALOGOMONEDAFUENTE as A3_IDCATALOGOMONEDAFUENTE, A3.PRECIOUNITARIOMONEDACONSIGNADA as A3_PRECIOUNITARIOMONEDACONSIGNADA, A3.TIPOCAMBIO as A3_TIPOCAMBIO, A3.FECHASOLICITUD as A3_FECHASOLICITUD, 
	A3.VECESREITEROSOLICITUD as A3_VECESREITEROSOLICITUD, A3.FECHARECEPCION as A3_FECHARECEPCION, A3.PROVEEDORDEDICACONTRATACION as A3_PROVEEDORDEDICACONTRATACION, A3.USUARIOPARTICIPORTM as A3_USUARIOPARTICIPORTM, 
	A3.CUMPLERTM as A3_CUMPLERTM, A3.SETOMOENCUENTA as A3_SETOMOENCUENTA, A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, 
	A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, 
	A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, 
	A10.IDDETALLEPEDIDO as A10_IDDETALLEPEDIDO, A10.IDPEDIDO as A10_IDPEDIDO, A10.GRUPOBIEN as A10_GRUPOBIEN, A10.CLASEBIEN as A10_CLASEBIEN, 
	A10.FAMILIABIEN as A10_FAMILIABIEN, A10.ITEMBIEN as A10_ITEMBIEN, A10.NOMBREITEM as A10_NOMBREITEM, A10.UNIDADMEDIDA as A10_UNIDADMEDIDA, 
	A10.CANTIDADAPROBADASIGA as A10_CANTIDADAPROBADASIGA, A10.CANTIDADSOLICITADASIGA as A10_CANTIDADSOLICITADASIGA, A10.CANTIDADATENDIDASIGA as A10_CANTIDADATENDIDASIGA, A10.PRECIOUNITARIO as A10_PRECIOUNITARIO, 
	A10.VALORTOTAL as A10_VALORTOTAL, A10.ESTADOPEDIDOSIGA as A10_ESTADOPEDIDOSIGA, A10.CODIGOCLASIFICADOR as A10_CODIGOCLASIFICADOR, A10.CODIGOTAREASIGA as A10_CODIGOTAREASIGA, 
	A10.CODIGOTAREAPLANIN as A10_CODIGOTAREAPLANIN, A10.FECHACREACIONAUDITORIA as A10_FECHACREACIONAUDITORIA, A10.USUARIOCREACIONAUDITORIA as A10_USUARIOCREACIONAUDITORIA, A10.CLASIFICADOR as A10_CLASIFICADOR, 
	A10.OBSERVADOPORCP as A10_OBSERVADOPORCP, A10.FECHAOBSERVADOPORCP as A10_FECHAOBSERVADOPORCP, A10.FECHARETIRADOPORCP as A10_FECHARETIRADOPORCP, A10.EQUIPOAUDITORIA as A10_EQUIPOAUDITORIA, 
	A10.PROGRAMAAUDITORIA as A10_PROGRAMAAUDITORIA, A10.ESTADOAUDITORIA as A10_ESTADOAUDITORIA 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.CuadroComparativoItem A1
	
	where A1.IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.CuadroComparativoItem A1
	
	where A1.IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.CuadroComparativoItem A1
	
	LEFT JOIN abas.CuadroComparativoFuente A3 ON A1.IdCuadroComparativoFuente = A3.IdCuadroComparativoFuente
	LEFT JOIN abas.DetallePedido A10 ON A1.IdDetallePedido = A10.IdDetallePedido
	where A1.IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.CuadroComparativoItem A1
	
	LEFT JOIN abas.CuadroComparativoFuente A3 ON A1.IdCuadroComparativoFuente = A3.IdCuadroComparativoFuente
	LEFT JOIN abas.DetallePedido A10 ON A1.IdDetallePedido = A10.IdDetallePedido
	where A1.IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.CuadroComparativoItem 
	where IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
	</delete>

	<delete id="deleteAllByCuadroComparativoFuente" parameterType="java.lang.Integer" >
	delete from abas.CuadroComparativoItem 
	where IdCuadroComparativoFuente = #{idCuadroComparativoFuente,jdbcType=INTEGER}
	</delete>



	<insert id="insert" parameterType="pe.com.sisabas.be.Cuadrocomparativoitem" >
	insert into abas.CuadroComparativoItem (
	IDCUADROCOMPARATIVOITEM, IDCUADROCOMPARATIVOFUENTE, IDDETALLEPEDIDO, PRECIOREFERENCIAL, 
	FECHACREACIONAUDITORIA, USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, 
	EQUIPOAUDITORIA, PROGRAMAAUDITORIA, ESTADOAUDITORIA ) 
	VALUES (
	#{idcuadrocomparativoitem,jdbcType=INTEGER}, #{idcuadrocomparativofuente,jdbcType=INTEGER}, #{iddetallepedido,jdbcType=INTEGER}, #{precioreferencial,jdbcType=DECIMAL}, 
	#{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	#{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR} ) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Cuadrocomparativoitem" >
	insert into abas.CuadroComparativoItem 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="idcuadrocomparativoitem != null" >
		IdCuadroComparativoItem,
	</if>
	<if test="idcuadrocomparativofuente != null" >
		IdCuadroComparativoFuente,
	</if>
	<if test="iddetallepedido != null" >
		IdDetallePedido,
	</if>
	<if test="precioreferencial != null" >
		PrecioReferencial,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="idcuadrocomparativoitem != null" >
		#{idcuadrocomparativoitem,jdbcType=INTEGER}, 
	</if>
	<if test="idcuadrocomparativofuente != null" >
		#{idcuadrocomparativofuente,jdbcType=INTEGER}, 
	</if>
	<if test="iddetallepedido != null" >
		#{iddetallepedido,jdbcType=INTEGER}, 
	</if>
	<if test="precioreferencial != null" >
		#{precioreferencial,jdbcType=DECIMAL}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Cuadrocomparativoitem" >
	update abas.CuadroComparativoItem 
	set 
	IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER}, IDCUADROCOMPARATIVOFUENTE = #{idcuadrocomparativofuente,jdbcType=INTEGER}, 
	IDDETALLEPEDIDO = #{iddetallepedido,jdbcType=INTEGER}, PRECIOREFERENCIAL = #{precioreferencial,jdbcType=DECIMAL}, 
	FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR} 
	where IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Cuadrocomparativoitem" >
	update abas.CuadroComparativoItem 
	<set>
	<if test="idcuadrocomparativoitem != null" >
		IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER}, 
	</if>
	<if test="idcuadrocomparativofuente != null" >
		IDCUADROCOMPARATIVOFUENTE = #{idcuadrocomparativofuente,jdbcType=INTEGER}, 
	</if>
	<if test="iddetallepedido != null" >
		IDDETALLEPEDIDO = #{iddetallepedido,jdbcType=INTEGER}, 
	</if>
	<if test="precioreferencial != null" >
		PRECIOREFERENCIAL = #{precioreferencial,jdbcType=DECIMAL}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdCuadroComparativoItem = #{idcuadrocomparativoitem,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Cuadrocomparativoitem" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.CuadroComparativoItem A1
	<where>
		<if test="idcuadrocomparativoitem != null" >
			 AND A1.IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER} 
		</if>
		<if test="idcuadrocomparativofuente != null" >
			 AND A1.IDCUADROCOMPARATIVOFUENTE = #{idcuadrocomparativofuente,jdbcType=INTEGER} 
		</if>
		<if test="iddetallepedido != null" >
			 AND A1.IDDETALLEPEDIDO = #{iddetallepedido,jdbcType=INTEGER} 
		</if>
		<if test="precioreferencialini != null" >
			 AND A1.PRECIOREFERENCIAL <![CDATA[ >= ]]> #{precioreferencialini,jdbcType=DECIMAL} 
		</if>

		<if test="precioreferencialfin != null" >
			 AND A1.PRECIOREFERENCIAL <![CDATA[ <= ]]>  #{precioreferencialfin,jdbcType=DECIMAL} 

		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdcuadrocomparativofuenteInKeys != null" >
			AND A1.IDCUADROCOMPARATIVOFUENTE IN
			<foreach collection="listaIdcuadrocomparativofuenteInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIddetallepedidoInKeys != null" >
			AND A1.IDDETALLEPEDIDO IN
			<foreach collection="listaIddetallepedidoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Cuadrocomparativoitem" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.CuadroComparativoItem A1
	LEFT JOIN abas.CuadroComparativoFuente A3 ON A1.IdCuadroComparativoFuente = A3.IdCuadroComparativoFuente
	LEFT JOIN abas.DetallePedido A10 ON A1.IdDetallePedido = A10.IdDetallePedido
	<where>
		<if test="idcuadrocomparativoitem != null" >
			 AND A1.IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER} 
		</if>
		<if test="idcuadrocomparativofuente != null" >
			 AND A1.IDCUADROCOMPARATIVOFUENTE = #{idcuadrocomparativofuente,jdbcType=INTEGER} 
		</if>
		<if test="iddetallepedido != null" >
			 AND A1.IDDETALLEPEDIDO = #{iddetallepedido,jdbcType=INTEGER} 
		</if>
		<if test="precioreferencialini != null" >
			 AND A1.PRECIOREFERENCIAL <![CDATA[ >= ]]> #{precioreferencialini,jdbcType=DECIMAL} 
		</if>

		<if test="precioreferencialfin != null" >
			 AND A1.PRECIOREFERENCIAL <![CDATA[ <= ]]>  #{precioreferencialfin,jdbcType=DECIMAL} 

		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdcuadrocomparativofuenteInKeys != null" >
			AND A1.IDCUADROCOMPARATIVOFUENTE IN
			<foreach collection="listaIdcuadrocomparativofuenteInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIddetallepedidoInKeys != null" >
			AND A1.IDDETALLEPEDIDO IN
			<foreach collection="listaIddetallepedidoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>