<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.CuadrocomparativovrMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Cuadrocomparativovr">
	<result column="A1_IDCUADROCOMPARATIVOVR" property="idcuadrocomparativovr" jdbcType="INTEGER" />
	<result column="A1_IDCUADROCOMPARATIVOITEM" property="idcuadrocomparativoitem" jdbcType="INTEGER" />
	<result column="A1_IDCATALOGOPROCEDIMIENTOVR" property="idcatalogoprocedimientovr" jdbcType="VARCHAR" />
	<result column="A1_VALORREFERENCIALITEM" property="valorreferencialitem" jdbcType="DECIMAL" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Cuadrocomparativovr">
	<result column="A1_IDCUADROCOMPARATIVOVR" property="idcuadrocomparativovr" jdbcType="INTEGER" />
	<result column="A1_IDCUADROCOMPARATIVOITEM" property="idcuadrocomparativoitem" jdbcType="INTEGER" />
	<result column="A1_IDCATALOGOPROCEDIMIENTOVR" property="idcatalogoprocedimientovr" jdbcType="VARCHAR" />
	<result column="A1_VALORREFERENCIALITEM" property="valorreferencialitem" jdbcType="DECIMAL" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	<result column="A3_IDCUADROCOMPARATIVOITEM" property="cuadrocomparativoitemIdcuadrocomparativoitem.idcuadrocomparativoitem" jdbcType="INTEGER" />
	<result column="A3_IDCUADROCOMPARATIVOFUENTE" property="cuadrocomparativoitemIdcuadrocomparativoitem.idcuadrocomparativofuente" jdbcType="INTEGER" />
	<result column="A3_IDDETALLEPEDIDO" property="cuadrocomparativoitemIdcuadrocomparativoitem.iddetallepedido" jdbcType="INTEGER" />
	<result column="A3_PRECIOREFERENCIAL" property="cuadrocomparativoitemIdcuadrocomparativoitem.precioreferencial" jdbcType="DECIMAL" />
	<result column="A3_FECHACREACIONAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_EQUIPOAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="cuadrocomparativoitemIdcuadrocomparativoitem.estadoauditoria" jdbcType="VARCHAR" />

	<result column="A6_VCHREGCODIGO" property="gentablaIdcatalogoprocedimientovr.vchregcodigo" jdbcType="VARCHAR" />
	<result column="A6_VCHREGDESCRI" property="gentablaIdcatalogoprocedimientovr.vchregdescri" jdbcType="VARCHAR" />
	<result column="A6_VCHREGABREVIADO" property="gentablaIdcatalogoprocedimientovr.vchregabreviado" jdbcType="VARCHAR" />
	<result column="A6_VCHTIPCODIGO" property="gentablaIdcatalogoprocedimientovr.vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A6_INTREGORDEN" property="gentablaIdcatalogoprocedimientovr.intregorden" jdbcType="INTEGER" />
	<result column="A6_VCHTABOTRO1" property="gentablaIdcatalogoprocedimientovr.vchtabotro1" jdbcType="VARCHAR" />
	<result column="A6_VCHTABOTRO2" property="gentablaIdcatalogoprocedimientovr.vchtabotro2" jdbcType="VARCHAR" />
	<result column="A6_VCHTABOTRO3" property="gentablaIdcatalogoprocedimientovr.vchtabotro3" jdbcType="VARCHAR" />
	<result column="A6_VCHTABOTRO4" property="gentablaIdcatalogoprocedimientovr.vchtabotro4" jdbcType="VARCHAR" />
	<result column="A6_ESTADOAUDITORIA" property="gentablaIdcatalogoprocedimientovr.estadoauditoria" jdbcType="VARCHAR" />
	<result column="A6_USUARIOCREACIONAUDITORIA" property="gentablaIdcatalogoprocedimientovr.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A6_USUARIOMODIFICACIONAUDITORIA" property="gentablaIdcatalogoprocedimientovr.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A6_FECHACREACIONAUDITORIA" property="gentablaIdcatalogoprocedimientovr.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A6_FECHAMODIFICACIONAUDITORIA" property="gentablaIdcatalogoprocedimientovr.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A6_EQUIPOAUDITORIA" property="gentablaIdcatalogoprocedimientovr.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A6_PROGRAMAAUDITORIA" property="gentablaIdcatalogoprocedimientovr.programaauditoria" jdbcType="VARCHAR" />
	<result column="A6_INTGANEMPID" property="gentablaIdcatalogoprocedimientovr.intganempid" jdbcType="INTEGER" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDCUADROCOMPARATIVOVR as A1_IDCUADROCOMPARATIVOVR, A1.IDCUADROCOMPARATIVOITEM as A1_IDCUADROCOMPARATIVOITEM, A1.IDCATALOGOPROCEDIMIENTOVR as A1_IDCATALOGOPROCEDIMIENTOVR, A1.VALORREFERENCIALITEM as A1_VALORREFERENCIALITEM, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA 
	</sql>


	<sql id="Full_Column_List">
	A1.IDCUADROCOMPARATIVOVR as A1_IDCUADROCOMPARATIVOVR, A1.IDCUADROCOMPARATIVOITEM as A1_IDCUADROCOMPARATIVOITEM, A1.IDCATALOGOPROCEDIMIENTOVR as A1_IDCATALOGOPROCEDIMIENTOVR, A1.VALORREFERENCIALITEM as A1_VALORREFERENCIALITEM, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	A3.IDCUADROCOMPARATIVOITEM as A3_IDCUADROCOMPARATIVOITEM, A3.IDCUADROCOMPARATIVOFUENTE as A3_IDCUADROCOMPARATIVOFUENTE, A3.IDDETALLEPEDIDO as A3_IDDETALLEPEDIDO, A3.PRECIOREFERENCIAL as A3_PRECIOREFERENCIAL, 
	A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, 
	A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, 
	A6.VCHREGCODIGO as A6_VCHREGCODIGO, A6.VCHREGDESCRI as A6_VCHREGDESCRI, A6.VCHREGABREVIADO as A6_VCHREGABREVIADO, A6.VCHTIPCODIGO as A6_VCHTIPCODIGO, 
	A6.INTREGORDEN as A6_INTREGORDEN, A6.VCHTABOTRO1 as A6_VCHTABOTRO1, A6.VCHTABOTRO2 as A6_VCHTABOTRO2, A6.VCHTABOTRO3 as A6_VCHTABOTRO3, 
	A6.VCHTABOTRO4 as A6_VCHTABOTRO4, A6.ESTADOAUDITORIA as A6_ESTADOAUDITORIA, A6.USUARIOCREACIONAUDITORIA as A6_USUARIOCREACIONAUDITORIA, A6.USUARIOMODIFICACIONAUDITORIA as A6_USUARIOMODIFICACIONAUDITORIA, 
	A6.FECHACREACIONAUDITORIA as A6_FECHACREACIONAUDITORIA, A6.FECHAMODIFICACIONAUDITORIA as A6_FECHAMODIFICACIONAUDITORIA, A6.EQUIPOAUDITORIA as A6_EQUIPOAUDITORIA, A6.PROGRAMAAUDITORIA as A6_PROGRAMAAUDITORIA, 
	A6.INTGANEMPID as A6_INTGANEMPID 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.CuadroComparativoVR A1
	
	where A1.IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.CuadroComparativoVR A1
	
	where A1.IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.CuadroComparativoVR A1
	
	LEFT JOIN abas.CuadroComparativoItem A3 ON A1.IdCuadroComparativoItem = A3.IdCuadroComparativoItem
	LEFT JOIN abas.gentabla A6 ON A1.IdCatalogoProcedimientoVR = A6.vchregCodigo
	where A1.IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.CuadroComparativoVR A1
	
	LEFT JOIN abas.CuadroComparativoItem A3 ON A1.IdCuadroComparativoItem = A3.IdCuadroComparativoItem
	LEFT JOIN abas.gentabla A6 ON A1.IdCatalogoProcedimientoVR = A6.vchregCodigo
	where A1.IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.CuadroComparativoVR 
	where IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Cuadrocomparativovr" >
	insert into abas.CuadroComparativoVR (
	IDCUADROCOMPARATIVOVR, IDCUADROCOMPARATIVOITEM, IDCATALOGOPROCEDIMIENTOVR, VALORREFERENCIALITEM, 
	FECHACREACIONAUDITORIA, USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, 
	EQUIPOAUDITORIA, PROGRAMAAUDITORIA, ESTADOAUDITORIA ) 
	VALUES (
	#{idcuadrocomparativovr,jdbcType=INTEGER}, #{idcuadrocomparativoitem,jdbcType=INTEGER}, #{idcatalogoprocedimientovr,jdbcType=VARCHAR}, #{valorreferencialitem,jdbcType=DECIMAL}, 
	#{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	#{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR} ) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Cuadrocomparativovr" >
	insert into abas.CuadroComparativoVR 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="idcuadrocomparativovr != null" >
		IdCuadroComparativoVR,
	</if>
	<if test="idcuadrocomparativoitem != null" >
		IdCuadroComparativoItem,
	</if>
	<if test="idcatalogoprocedimientovr != null" >
		IdCatalogoProcedimientoVR,
	</if>
	<if test="valorreferencialitem != null" >
		ValorReferencialItem,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="idcuadrocomparativovr != null" >
		#{idcuadrocomparativovr,jdbcType=INTEGER}, 
	</if>
	<if test="idcuadrocomparativoitem != null" >
		#{idcuadrocomparativoitem,jdbcType=INTEGER}, 
	</if>
	<if test="idcatalogoprocedimientovr != null" >
		#{idcatalogoprocedimientovr,jdbcType=VARCHAR}, 
	</if>
	<if test="valorreferencialitem != null" >
		#{valorreferencialitem,jdbcType=DECIMAL}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Cuadrocomparativovr" >
	update abas.CuadroComparativoVR 
	set 
	IDCUADROCOMPARATIVOVR = #{idcuadrocomparativovr,jdbcType=INTEGER}, IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER}, 
	IDCATALOGOPROCEDIMIENTOVR = #{idcatalogoprocedimientovr,jdbcType=VARCHAR}, VALORREFERENCIALITEM = #{valorreferencialitem,jdbcType=DECIMAL}, 
	FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR} 
	where IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Cuadrocomparativovr" >
	update abas.CuadroComparativoVR 
	<set>
	<if test="idcuadrocomparativovr != null" >
		IDCUADROCOMPARATIVOVR = #{idcuadrocomparativovr,jdbcType=INTEGER}, 
	</if>
	<if test="idcuadrocomparativoitem != null" >
		IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER}, 
	</if>
	<if test="idcatalogoprocedimientovr != null" >
		IDCATALOGOPROCEDIMIENTOVR = #{idcatalogoprocedimientovr,jdbcType=VARCHAR}, 
	</if>
	<if test="valorreferencialitem != null" >
		VALORREFERENCIALITEM = #{valorreferencialitem,jdbcType=DECIMAL}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdCuadroComparativoVR = #{idcuadrocomparativovr,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Cuadrocomparativovr" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.CuadroComparativoVR A1
	<where>
		<if test="idcuadrocomparativovr != null" >
			 AND A1.IDCUADROCOMPARATIVOVR = #{idcuadrocomparativovr,jdbcType=INTEGER} 
		</if>
		<if test="idcuadrocomparativoitem != null" >
			 AND A1.IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER} 
		</if>
		<if test="idcatalogoprocedimientovr != null" >
			 AND A1.IDCATALOGOPROCEDIMIENTOVR = #{idcatalogoprocedimientovr,jdbcType=VARCHAR} 
		</if>
		<if test="valorreferencialitemini != null" >
			 AND A1.VALORREFERENCIALITEM <![CDATA[ >= ]]> #{valorreferencialitemini,jdbcType=DECIMAL} 
		</if>

		<if test="valorreferencialitemfin != null" >
			 AND A1.VALORREFERENCIALITEM <![CDATA[ <= ]]>  #{valorreferencialitemfin,jdbcType=DECIMAL} 

		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdcuadrocomparativoitemInKeys != null" >
			AND A1.IDCUADROCOMPARATIVOITEM IN
			<foreach collection="listaIdcuadrocomparativoitemInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIdcatalogoprocedimientovrInKeys != null" >
			AND A1.IDCATALOGOPROCEDIMIENTOVR IN
			<foreach collection="listaIdcatalogoprocedimientovrInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Cuadrocomparativovr" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.CuadroComparativoVR A1
	LEFT JOIN abas.CuadroComparativoItem A3 ON A1.IdCuadroComparativoItem = A3.IdCuadroComparativoItem
	LEFT JOIN abas.gentabla A6 ON A1.IdCatalogoProcedimientoVR = A6.vchregCodigo
	<where>
		<if test="idcuadrocomparativovr != null" >
			 AND A1.IDCUADROCOMPARATIVOVR = #{idcuadrocomparativovr,jdbcType=INTEGER} 
		</if>
		<if test="idcuadrocomparativoitem != null" >
			 AND A1.IDCUADROCOMPARATIVOITEM = #{idcuadrocomparativoitem,jdbcType=INTEGER} 
		</if>
		<if test="idcatalogoprocedimientovr != null" >
			 AND A1.IDCATALOGOPROCEDIMIENTOVR = #{idcatalogoprocedimientovr,jdbcType=VARCHAR} 
		</if>
		<if test="valorreferencialitemini != null" >
			 AND A1.VALORREFERENCIALITEM <![CDATA[ >= ]]> #{valorreferencialitemini,jdbcType=DECIMAL} 
		</if>

		<if test="valorreferencialitemfin != null" >
			 AND A1.VALORREFERENCIALITEM <![CDATA[ <= ]]>  #{valorreferencialitemfin,jdbcType=DECIMAL} 

		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdcuadrocomparativoitemInKeys != null" >
			AND A1.IDCUADROCOMPARATIVOITEM IN
			<foreach collection="listaIdcuadrocomparativoitemInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIdcatalogoprocedimientovrInKeys != null" >
			AND A1.IDCATALOGOPROCEDIMIENTOVR IN
			<foreach collection="listaIdcatalogoprocedimientovrInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>