<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.DependenciadocumentotecnicoMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Dependenciadocumentotecnico">
	<result column="A1_IDDEPENDENCIADOCUMENTOTECNICO" property="iddependenciadocumentotecnico" jdbcType="INTEGER" />
	<result column="A1_IDDOCUMENTOTECNICO" property="iddocumentotecnico" jdbcType="INTEGER" />
	<result column="A1_DIRECCION" property="direccion" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Dependenciadocumentotecnico">
	<result column="A1_IDDEPENDENCIADOCUMENTOTECNICO" property="iddependenciadocumentotecnico" jdbcType="INTEGER" />
	<result column="A1_IDDOCUMENTOTECNICO" property="iddocumentotecnico" jdbcType="INTEGER" />
	<result column="A1_DIRECCION" property="direccion" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	<result column="A3_IDDOCUMENTOTECNICO" property="documentotecnicoIddocumentotecnico.iddocumentotecnico" jdbcType="INTEGER" />
	<result column="A3_IDPEDIDO" property="documentotecnicoIddocumentotecnico.idpedido" jdbcType="INTEGER" />
	<result column="A3_IDPACPROGRAMADO" property="documentotecnicoIddocumentotecnico.idpacprogramado" jdbcType="INTEGER" />
	<result column="A3_IDCOMITEPROCESO" property="documentotecnicoIddocumentotecnico.idcomiteproceso" jdbcType="INTEGER" />
	<result column="A3_DENOMINACIONCONTRATACION" property="documentotecnicoIddocumentotecnico.denominacioncontratacion" jdbcType="VARCHAR" />
	<result column="A3_FINALIDADPUBLICA" property="documentotecnicoIddocumentotecnico.finalidadpublica" jdbcType="VARCHAR" />
	<result column="A3_NROPAC" property="documentotecnicoIddocumentotecnico.nropac" jdbcType="INTEGER" />
	<result column="A3_OBJETOCONTRATACION" property="documentotecnicoIddocumentotecnico.objetocontratacion" jdbcType="VARCHAR" />
	<result column="A3_CENTROCOSTO" property="documentotecnicoIddocumentotecnico.centrocosto" jdbcType="VARCHAR" />
	<result column="A3_ANTECEDENTES" property="documentotecnicoIddocumentotecnico.antecedentes" jdbcType="VARCHAR" />
	<result column="A3_DNIRESPONSABLE" property="documentotecnicoIddocumentotecnico.dniresponsable" jdbcType="VARCHAR" />
	<result column="A3_NOMBRERESPONSABLE" property="documentotecnicoIddocumentotecnico.nombreresponsable" jdbcType="VARCHAR" />
	<result column="A3_NROANEXORESPONSABLE" property="documentotecnicoIddocumentotecnico.nroanexoresponsable" jdbcType="VARCHAR" />
	<result column="A3_CORREORESPONSABLE" property="documentotecnicoIddocumentotecnico.correoresponsable" jdbcType="VARCHAR" />
	<result column="A3_IDCATALOGOTIPODOCUMENTOTECNICO" property="documentotecnicoIddocumentotecnico.idcatalogotipodocumentotecnico" jdbcType="VARCHAR" />
	<result column="A3_IDCATALOGOTIPOTDR" property="documentotecnicoIddocumentotecnico.idcatalogotipotdr" jdbcType="VARCHAR" />
	<result column="A3_RUTAANEXO" property="documentotecnicoIddocumentotecnico.rutaanexo" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="documentotecnicoIddocumentotecnico.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="documentotecnicoIddocumentotecnico.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="documentotecnicoIddocumentotecnico.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="documentotecnicoIddocumentotecnico.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_UBIGEO" property="documentotecnicoIddocumentotecnico.ubigeo" jdbcType="VARCHAR" />
	<result column="A3_DIRECCION" property="documentotecnicoIddocumentotecnico.direccion" jdbcType="VARCHAR" />
	<result column="A3_NUMEROSINAD" property="documentotecnicoIddocumentotecnico.numerosinad" jdbcType="INTEGER" />
	<result column="A3_ANIOEXPEDIENTE" property="documentotecnicoIddocumentotecnico.anioexpediente" jdbcType="INTEGER" />
	<result column="A3_NUMEROEXPEDIENTE" property="documentotecnicoIddocumentotecnico.numeroexpediente" jdbcType="VARCHAR" />
	<result column="A3_TIENECOMITE" property="documentotecnicoIddocumentotecnico.tienecomite" jdbcType="VARCHAR" />
	<result column="A3_TIPOITINERARIO" property="documentotecnicoIddocumentotecnico.tipoitinerario" jdbcType="VARCHAR" />
	<result column="A3_NROPEDIDOITINERARIO" property="documentotecnicoIddocumentotecnico.nropedidoitinerario" jdbcType="VARCHAR" />
	<result column="A3_ANIOPEDIDOITINERARIO" property="documentotecnicoIddocumentotecnico.aniopedidoitinerario" jdbcType="INTEGER" />
	<result column="A3_UEPEDIDOITINERARIO" property="documentotecnicoIddocumentotecnico.uepedidoitinerario" jdbcType="VARCHAR" />
	<result column="A3_JUSTIFICACIONPEDIDOITINERARIO" property="documentotecnicoIddocumentotecnico.justificacionpedidoitinerario" jdbcType="VARCHAR" />
	<result column="A3_ITINERARIOORIGENREGISTRADO" property="documentotecnicoIddocumentotecnico.itinerarioorigenregistrado" jdbcType="VARCHAR" />
	<result column="A3_EQUIPOAUDITORIA" property="documentotecnicoIddocumentotecnico.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="documentotecnicoIddocumentotecnico.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="documentotecnicoIddocumentotecnico.estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDDEPENDENCIADOCUMENTOTECNICO as A1_IDDEPENDENCIADOCUMENTOTECNICO, A1.IDDOCUMENTOTECNICO as A1_IDDOCUMENTOTECNICO, A1.DIRECCION as A1_DIRECCION, A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, 
	A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA 
	
	</sql>


	<sql id="Full_Column_List">
	A1.IDDEPENDENCIADOCUMENTOTECNICO as A1_IDDEPENDENCIADOCUMENTOTECNICO, A1.IDDOCUMENTOTECNICO as A1_IDDOCUMENTOTECNICO, A1.DIRECCION as A1_DIRECCION, A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, 
	A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	
	A3.IDDOCUMENTOTECNICO as A3_IDDOCUMENTOTECNICO, A3.IDPEDIDO as A3_IDPEDIDO, A3.IDPACPROGRAMADO as A3_IDPACPROGRAMADO, A3.IDCOMITEPROCESO as A3_IDCOMITEPROCESO, 
	A3.DENOMINACIONCONTRATACION as A3_DENOMINACIONCONTRATACION, A3.FINALIDADPUBLICA as A3_FINALIDADPUBLICA, A3.NROPAC as A3_NROPAC, A3.OBJETOCONTRATACION as A3_OBJETOCONTRATACION, 
	A3.CENTROCOSTO as A3_CENTROCOSTO, A3.ANTECEDENTES as A3_ANTECEDENTES, A3.DNIRESPONSABLE as A3_DNIRESPONSABLE, A3.NOMBRERESPONSABLE as A3_NOMBRERESPONSABLE, 
	A3.NROANEXORESPONSABLE as A3_NROANEXORESPONSABLE, A3.CORREORESPONSABLE as A3_CORREORESPONSABLE, A3.IDCATALOGOTIPODOCUMENTOTECNICO as A3_IDCATALOGOTIPODOCUMENTOTECNICO, A3.IDCATALOGOTIPOTDR as A3_IDCATALOGOTIPOTDR, 
	A3.RUTAANEXO as A3_RUTAANEXO, A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, 
	A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, A3.UBIGEO as A3_UBIGEO, A3.DIRECCION as A3_DIRECCION, A3.NUMEROSINAD as A3_NUMEROSINAD, 
	A3.ANIOEXPEDIENTE as A3_ANIOEXPEDIENTE, A3.NUMEROEXPEDIENTE as A3_NUMEROEXPEDIENTE, A3.TIENECOMITE as A3_TIENECOMITE, A3.TIPOITINERARIO as A3_TIPOITINERARIO, 
	A3.NROPEDIDOITINERARIO as A3_NROPEDIDOITINERARIO, A3.ANIOPEDIDOITINERARIO as A3_ANIOPEDIDOITINERARIO, A3.UEPEDIDOITINERARIO as A3_UEPEDIDOITINERARIO, A3.JUSTIFICACIONPEDIDOITINERARIO as A3_JUSTIFICACIONPEDIDOITINERARIO, 
	A3.ITINERARIOORIGENREGISTRADO as A3_ITINERARIOORIGENREGISTRADO, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA 
	
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.DependenciaDocumentoTecnico A1
	
	where A1.IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.DependenciaDocumentoTecnico A1
	
	where A1.IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.DependenciaDocumentoTecnico A1
	
	LEFT JOIN abas.DocumentoTecnico A3 ON A1.IdDocumentoTecnico = A3.IdDocumentoTecnico
	where A1.IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.DependenciaDocumentoTecnico A1
	
	LEFT JOIN abas.DocumentoTecnico A3 ON A1.IdDocumentoTecnico = A3.IdDocumentoTecnico
	where A1.IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.DependenciaDocumentoTecnico 
	where IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Dependenciadocumentotecnico" >
	insert into abas.DependenciaDocumentoTecnico (
	IDDEPENDENCIADOCUMENTOTECNICO, IDDOCUMENTOTECNICO, DIRECCION, FECHACREACIONAUDITORIA, 
	USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, ESTADOAUDITORIA 
	) 
	VALUES (
	#{iddependenciadocumentotecnico,jdbcType=INTEGER}, #{iddocumentotecnico,jdbcType=INTEGER}, #{direccion,jdbcType=VARCHAR}, #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	#{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR} 
	) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Dependenciadocumentotecnico" >
	insert into abas.DependenciaDocumentoTecnico 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="iddependenciadocumentotecnico != null" >
		IdDependenciaDocumentoTecnico,
	</if>
	<if test="iddocumentotecnico != null" >
		IdDocumentoTecnico,
	</if>
	<if test="direccion != null" >
		Direccion,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="iddependenciadocumentotecnico != null" >
		#{iddependenciadocumentotecnico,jdbcType=INTEGER}, 
	</if>
	<if test="iddocumentotecnico != null" >
		#{iddocumentotecnico,jdbcType=INTEGER}, 
	</if>
	<if test="direccion != null" >
		#{direccion,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Dependenciadocumentotecnico" >
	update abas.DependenciaDocumentoTecnico 
	set 
	IDDEPENDENCIADOCUMENTOTECNICO = #{iddependenciadocumentotecnico,jdbcType=INTEGER}, IDDOCUMENTOTECNICO = #{iddocumentotecnico,jdbcType=INTEGER}, 
	DIRECCION = #{direccion,jdbcType=VARCHAR}, FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR} 
	
	where IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Dependenciadocumentotecnico" >
	update abas.DependenciaDocumentoTecnico 
	<set>
	<if test="iddependenciadocumentotecnico != null" >
		IDDEPENDENCIADOCUMENTOTECNICO = #{iddependenciadocumentotecnico,jdbcType=INTEGER}, 
	</if>
	<if test="iddocumentotecnico != null" >
		IDDOCUMENTOTECNICO = #{iddocumentotecnico,jdbcType=INTEGER}, 
	</if>
	<if test="direccion != null" >
		DIRECCION = #{direccion,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdDependenciaDocumentoTecnico = #{iddependenciadocumentotecnico,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Dependenciadocumentotecnico" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.DependenciaDocumentoTecnico A1
	<where>
		<if test="iddependenciadocumentotecnico != null" >
			 AND A1.IDDEPENDENCIADOCUMENTOTECNICO = #{iddependenciadocumentotecnico,jdbcType=INTEGER} 
		</if>
		<if test="iddocumentotecnico != null" >
			 AND A1.IDDOCUMENTOTECNICO = #{iddocumentotecnico,jdbcType=INTEGER} 
		</if>
		<if test="direccion != null" >
			 AND A1.DIRECCION LIKE ('%' + #{direccion,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIddocumentotecnicoInKeys != null" >
			AND A1.IDDOCUMENTOTECNICO IN
			<foreach collection="listaIddocumentotecnicoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Dependenciadocumentotecnico" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.DependenciaDocumentoTecnico A1
	LEFT JOIN abas.DocumentoTecnico A3 ON A1.IdDocumentoTecnico = A3.IdDocumentoTecnico
	<where>
		<if test="iddependenciadocumentotecnico != null" >
			 AND A1.IDDEPENDENCIADOCUMENTOTECNICO = #{iddependenciadocumentotecnico,jdbcType=INTEGER} 
		</if>
		<if test="iddocumentotecnico != null" >
			 AND A1.IDDOCUMENTOTECNICO = #{iddocumentotecnico,jdbcType=INTEGER} 
		</if>
		<if test="direccion != null" >
			 AND A1.DIRECCION LIKE ('%' + #{direccion,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIddocumentotecnicoInKeys != null" >
			AND A1.IDDOCUMENTOTECNICO IN
			<foreach collection="listaIddocumentotecnicoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>