<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.EntregableMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Entregable">
	<result column="A1_IDENTREGABLE" property="identregable" jdbcType="INTEGER" />
	<result column="A1_IDORDEN" property="idorden" jdbcType="INTEGER" />
	<result column="A1_NROPROVEIDO" property="nroproveido" jdbcType="VARCHAR" />
	<result column="A1_NROENTREGABLE" property="nroentregable" jdbcType="VARCHAR" />
	<result column="A1_PLAZOENTREGABLE" property="plazoentregable" jdbcType="VARCHAR" />
	<result column="A1_MONTOENTREGABLE" property="montoentregable" jdbcType="DECIMAL" />
	<result column="A1_MONTOPENALIDADENTREGABLE" property="montopenalidadentregable" jdbcType="DECIMAL" />
	<result column="A1_FECHAPRESENTACIONENTREGABLE" property="fechapresentacionentregable" jdbcType="TIMESTAMP" />
	<result column="A1_OBSERVACIONESENTREGABLE" property="observacionesentregable" jdbcType="VARCHAR" />
	<result column="A1_IDCATALOGOESTADOENTREGABLE" property="idcatalogoestadoentregable" jdbcType="VARCHAR" />
	<result column="A1_IDGRUPODOCUMENTO" property="idgrupodocumento" jdbcType="INTEGER" />
	<result column="A1_ANIO" property="anio" jdbcType="INTEGER" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Entregable">
	<result column="A1_IDENTREGABLE" property="identregable" jdbcType="INTEGER" />
	<result column="A1_IDORDEN" property="idorden" jdbcType="INTEGER" />
	<result column="A1_NROPROVEIDO" property="nroproveido" jdbcType="VARCHAR" />
	<result column="A1_NROENTREGABLE" property="nroentregable" jdbcType="VARCHAR" />
	<result column="A1_PLAZOENTREGABLE" property="plazoentregable" jdbcType="VARCHAR" />
	<result column="A1_MONTOENTREGABLE" property="montoentregable" jdbcType="DECIMAL" />
	<result column="A1_MONTOPENALIDADENTREGABLE" property="montopenalidadentregable" jdbcType="DECIMAL" />
	<result column="A1_FECHAPRESENTACIONENTREGABLE" property="fechapresentacionentregable" jdbcType="TIMESTAMP" />
	<result column="A1_OBSERVACIONESENTREGABLE" property="observacionesentregable" jdbcType="VARCHAR" />
	<result column="A1_IDCATALOGOESTADOENTREGABLE" property="idcatalogoestadoentregable" jdbcType="VARCHAR" />
	<result column="A1_IDGRUPODOCUMENTO" property="idgrupodocumento" jdbcType="INTEGER" />
	<result column="A1_ANIO" property="anio" jdbcType="INTEGER" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	<result column="A3_VCHREGCODIGO" property="gentablaIdcatalogoestadoentregable.vchregcodigo" jdbcType="VARCHAR" />
	<result column="A3_VCHREGDESCRI" property="gentablaIdcatalogoestadoentregable.vchregdescri" jdbcType="VARCHAR" />
	<result column="A3_VCHREGABREVIADO" property="gentablaIdcatalogoestadoentregable.vchregabreviado" jdbcType="VARCHAR" />
	<result column="A3_VCHTIPCODIGO" property="gentablaIdcatalogoestadoentregable.vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A3_INTREGORDEN" property="gentablaIdcatalogoestadoentregable.intregorden" jdbcType="INTEGER" />
	<result column="A3_VCHTABOTRO1" property="gentablaIdcatalogoestadoentregable.vchtabotro1" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO2" property="gentablaIdcatalogoestadoentregable.vchtabotro2" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO3" property="gentablaIdcatalogoestadoentregable.vchtabotro3" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO4" property="gentablaIdcatalogoestadoentregable.vchtabotro4" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="gentablaIdcatalogoestadoentregable.estadoauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="gentablaIdcatalogoestadoentregable.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="gentablaIdcatalogoestadoentregable.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="gentablaIdcatalogoestadoentregable.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="gentablaIdcatalogoestadoentregable.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_EQUIPOAUDITORIA" property="gentablaIdcatalogoestadoentregable.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="gentablaIdcatalogoestadoentregable.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_INTGANEMPID" property="gentablaIdcatalogoestadoentregable.intganempid" jdbcType="INTEGER" />

	<result column="A5_IDGRUPODOCUMENTO" property="grupodocumentoIdgrupodocumento.idgrupodocumento" jdbcType="INTEGER" />
	<result column="A5_ANIO" property="grupodocumentoIdgrupodocumento.anio" jdbcType="INTEGER" />
	<result column="A5_CODIGOCENTROCOSTO" property="grupodocumentoIdgrupodocumento.codigocentrocosto" jdbcType="VARCHAR" />
	<result column="A5_FECHACREACIONAUDITORIA" property="grupodocumentoIdgrupodocumento.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A5_USUARIOCREACIONAUDITORIA" property="grupodocumentoIdgrupodocumento.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A5_FECHAMODIFICACIONAUDITORIA" property="grupodocumentoIdgrupodocumento.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A5_USUARIOMODIFICACIONAUDITORIA" property="grupodocumentoIdgrupodocumento.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A5_EQUIPOAUDITORIA" property="grupodocumentoIdgrupodocumento.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A5_PROGRAMAAUDITORIA" property="grupodocumentoIdgrupodocumento.programaauditoria" jdbcType="VARCHAR" />
	<result column="A5_ESTADOAUDITORIA" property="grupodocumentoIdgrupodocumento.estadoauditoria" jdbcType="VARCHAR" />

	<result column="A6_IDORDEN" property="ordenIdorden.idorden" jdbcType="INTEGER" />
	<result column="A6_IDPACCONSOLIDADO" property="ordenIdorden.idpacconsolidado" jdbcType="INTEGER" />
	<result column="A6_IDGRUPODOCUMENTO" property="ordenIdorden.idgrupodocumento" jdbcType="INTEGER" />
	<result column="A6_NROORDEN" property="ordenIdorden.nroorden" jdbcType="VARCHAR" />
	<result column="A6_FECHAORDEN" property="ordenIdorden.fechaorden" jdbcType="TIMESTAMP" />
	<result column="A6_ANIOORDEN" property="ordenIdorden.anioorden" jdbcType="INTEGER" />
	<result column="A6_ESTADOORDEN" property="ordenIdorden.estadoorden" jdbcType="SMALLINT" />
	<result column="A6_NROEXPEDIENTESIAF" property="ordenIdorden.nroexpedientesiaf" jdbcType="VARCHAR" />
	<result column="A6_MONEDA" property="ordenIdorden.moneda" jdbcType="VARCHAR" />
	<result column="A6_MONTOORDEN" property="ordenIdorden.montoorden" jdbcType="DECIMAL" />
	<result column="A6_NROPROCESO" property="ordenIdorden.nroproceso" jdbcType="VARCHAR" />
	<result column="A6_NROCONTRATO" property="ordenIdorden.nrocontrato" jdbcType="VARCHAR" />
	<result column="A6_ESTADOEXPEDIENTESIAF" property="ordenIdorden.estadoexpedientesiaf" jdbcType="SMALLINT" />
	<result column="A6_FECHAINICIOPRESTACION" property="ordenIdorden.fechainicioprestacion" jdbcType="TIMESTAMP" />
	<result column="A6_IDCATALOGOTIPOBIEN" property="ordenIdorden.idcatalogotipobien" jdbcType="VARCHAR" />
	<result column="A6_FECHAFINPRESTACION" property="ordenIdorden.fechafinprestacion" jdbcType="TIMESTAMP" />
	<result column="A6_ANIO" property="ordenIdorden.anio" jdbcType="INTEGER" />
	<result column="A6_IDUNIDADEJECUTORA" property="ordenIdorden.idunidadejecutora" jdbcType="INTEGER" />
	<result column="A6_PLAZOEJECUCION" property="ordenIdorden.plazoejecucion" jdbcType="INTEGER" />
	<result column="A6_FECHACREACIONAUDITORIA" property="ordenIdorden.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A6_USUARIOCREACIONAUDITORIA" property="ordenIdorden.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A6_FECHAMODIFICACIONAUDITORIA" property="ordenIdorden.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A6_USUARIOMODIFICACIONAUDITORIA" property="ordenIdorden.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A6_EQUIPOAUDITORIA" property="ordenIdorden.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A6_PROGRAMAAUDITORIA" property="ordenIdorden.programaauditoria" jdbcType="VARCHAR" />
	<result column="A6_ESTADOAUDITORIA" property="ordenIdorden.estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDENTREGABLE as A1_IDENTREGABLE, A1.IDORDEN as A1_IDORDEN, A1.NROPROVEIDO as A1_NROPROVEIDO, A1.NROENTREGABLE as A1_NROENTREGABLE, 
	A1.PLAZOENTREGABLE as A1_PLAZOENTREGABLE, A1.MONTOENTREGABLE as A1_MONTOENTREGABLE, A1.MONTOPENALIDADENTREGABLE as A1_MONTOPENALIDADENTREGABLE, A1.FECHAPRESENTACIONENTREGABLE as A1_FECHAPRESENTACIONENTREGABLE, 
	A1.OBSERVACIONESENTREGABLE as A1_OBSERVACIONESENTREGABLE, A1.IDCATALOGOESTADOENTREGABLE as A1_IDCATALOGOESTADOENTREGABLE, A1.IDGRUPODOCUMENTO as A1_IDGRUPODOCUMENTO, A1.ANIO as A1_ANIO, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA 
	</sql>


	<sql id="Full_Column_List">
	A1.IDENTREGABLE as A1_IDENTREGABLE, A1.IDORDEN as A1_IDORDEN, A1.NROPROVEIDO as A1_NROPROVEIDO, A1.NROENTREGABLE as A1_NROENTREGABLE, 
	A1.PLAZOENTREGABLE as A1_PLAZOENTREGABLE, A1.MONTOENTREGABLE as A1_MONTOENTREGABLE, A1.MONTOPENALIDADENTREGABLE as A1_MONTOPENALIDADENTREGABLE, A1.FECHAPRESENTACIONENTREGABLE as A1_FECHAPRESENTACIONENTREGABLE, 
	A1.OBSERVACIONESENTREGABLE as A1_OBSERVACIONESENTREGABLE, A1.IDCATALOGOESTADOENTREGABLE as A1_IDCATALOGOESTADOENTREGABLE, A1.IDGRUPODOCUMENTO as A1_IDGRUPODOCUMENTO, A1.ANIO as A1_ANIO, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	A3.VCHREGCODIGO as A3_VCHREGCODIGO, A3.VCHREGDESCRI as A3_VCHREGDESCRI, A3.VCHREGABREVIADO as A3_VCHREGABREVIADO, A3.VCHTIPCODIGO as A3_VCHTIPCODIGO, 
	A3.INTREGORDEN as A3_INTREGORDEN, A3.VCHTABOTRO1 as A3_VCHTABOTRO1, A3.VCHTABOTRO2 as A3_VCHTABOTRO2, A3.VCHTABOTRO3 as A3_VCHTABOTRO3, 
	A3.VCHTABOTRO4 as A3_VCHTABOTRO4, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, 
	A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, 
	A3.INTGANEMPID as A3_INTGANEMPID, 
	A5.IDGRUPODOCUMENTO as A5_IDGRUPODOCUMENTO, A5.ANIO as A5_ANIO, A5.CODIGOCENTROCOSTO as A5_CODIGOCENTROCOSTO, A5.FECHACREACIONAUDITORIA as A5_FECHACREACIONAUDITORIA, 
	A5.USUARIOCREACIONAUDITORIA as A5_USUARIOCREACIONAUDITORIA, A5.FECHAMODIFICACIONAUDITORIA as A5_FECHAMODIFICACIONAUDITORIA, A5.USUARIOMODIFICACIONAUDITORIA as A5_USUARIOMODIFICACIONAUDITORIA, A5.EQUIPOAUDITORIA as A5_EQUIPOAUDITORIA, 
	A5.PROGRAMAAUDITORIA as A5_PROGRAMAAUDITORIA, A5.ESTADOAUDITORIA as A5_ESTADOAUDITORIA, 
	A6.IDORDEN as A6_IDORDEN, A6.IDPACCONSOLIDADO as A6_IDPACCONSOLIDADO, A6.IDGRUPODOCUMENTO as A6_IDGRUPODOCUMENTO, A6.NROORDEN as A6_NROORDEN, 
	A6.FECHAORDEN as A6_FECHAORDEN, A6.ANIOORDEN as A6_ANIOORDEN, A6.ESTADOORDEN as A6_ESTADOORDEN, A6.NROEXPEDIENTESIAF as A6_NROEXPEDIENTESIAF, 
	A6.MONEDA as A6_MONEDA, A6.MONTOORDEN as A6_MONTOORDEN, A6.NROPROCESO as A6_NROPROCESO, A6.NROCONTRATO as A6_NROCONTRATO, 
	A6.ESTADOEXPEDIENTESIAF as A6_ESTADOEXPEDIENTESIAF, A6.FECHAINICIOPRESTACION as A6_FECHAINICIOPRESTACION, A6.IDCATALOGOTIPOBIEN as A6_IDCATALOGOTIPOBIEN, A6.FECHAFINPRESTACION as A6_FECHAFINPRESTACION, 
	A6.ANIO as A6_ANIO, A6.IDUNIDADEJECUTORA as A6_IDUNIDADEJECUTORA, A6.PLAZOEJECUCION as A6_PLAZOEJECUCION, A6.FECHACREACIONAUDITORIA as A6_FECHACREACIONAUDITORIA, 
	A6.USUARIOCREACIONAUDITORIA as A6_USUARIOCREACIONAUDITORIA, A6.FECHAMODIFICACIONAUDITORIA as A6_FECHAMODIFICACIONAUDITORIA, A6.USUARIOMODIFICACIONAUDITORIA as A6_USUARIOMODIFICACIONAUDITORIA, A6.EQUIPOAUDITORIA as A6_EQUIPOAUDITORIA, 
	A6.PROGRAMAAUDITORIA as A6_PROGRAMAAUDITORIA, A6.ESTADOAUDITORIA as A6_ESTADOAUDITORIA 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.Entregable A1
	
	where A1.IdEntregable = #{identregable,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.Entregable A1
	
	where A1.IdEntregable = #{identregable,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.Entregable A1
	
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoEstadoEntregable = A3.vchregCodigo
	LEFT JOIN abas.GrupoDocumento A5 ON A1.IdGrupoDocumento = A5.IdGrupoDocumento
	LEFT JOIN abas.Orden A6 ON A1.IdOrden = A6.IdOrden
	where A1.IdEntregable = #{identregable,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.Entregable A1
	
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoEstadoEntregable = A3.vchregCodigo
	LEFT JOIN abas.GrupoDocumento A5 ON A1.IdGrupoDocumento = A5.IdGrupoDocumento
	LEFT JOIN abas.Orden A6 ON A1.IdOrden = A6.IdOrden
	where A1.IdEntregable = #{identregable,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.Entregable 
	where IdEntregable = #{identregable,jdbcType=INTEGER}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Entregable" >
	insert into abas.Entregable (
	IDENTREGABLE, IDORDEN, NROPROVEIDO, NROENTREGABLE, 
	PLAZOENTREGABLE, MONTOENTREGABLE, MONTOPENALIDADENTREGABLE, FECHAPRESENTACIONENTREGABLE, 
	OBSERVACIONESENTREGABLE, IDCATALOGOESTADOENTREGABLE, IDGRUPODOCUMENTO, ANIO, 
	FECHACREACIONAUDITORIA, USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, 
	EQUIPOAUDITORIA, PROGRAMAAUDITORIA, ESTADOAUDITORIA ) 
	VALUES (
	#{identregable,jdbcType=INTEGER}, #{idorden,jdbcType=INTEGER}, #{nroproveido,jdbcType=VARCHAR}, #{nroentregable,jdbcType=VARCHAR}, 
	#{plazoentregable,jdbcType=VARCHAR}, #{montoentregable,jdbcType=DECIMAL}, #{montopenalidadentregable,jdbcType=DECIMAL}, #{fechapresentacionentregable,jdbcType=TIMESTAMP}, 
	#{observacionesentregable,jdbcType=VARCHAR}, #{idcatalogoestadoentregable,jdbcType=VARCHAR}, #{idgrupodocumento,jdbcType=INTEGER}, #{anio,jdbcType=INTEGER}, 
	#{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	#{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR} ) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Entregable" >
	insert into abas.Entregable 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="identregable != null" >
		IdEntregable,
	</if>
	<if test="idorden != null" >
		IdOrden,
	</if>
	<if test="nroproveido != null" >
		NroProveido,
	</if>
	<if test="nroentregable != null" >
		NroEntregable,
	</if>
	<if test="plazoentregable != null" >
		PlazoEntregable,
	</if>
	<if test="montoentregable != null" >
		MontoEntregable,
	</if>
	<if test="montopenalidadentregable != null" >
		MontoPenalidadEntregable,
	</if>
	<if test="fechapresentacionentregable != null" >
		FechaPresentacionEntregable,
	</if>
	<if test="observacionesentregable != null" >
		ObservacionesEntregable,
	</if>
	<if test="idcatalogoestadoentregable != null" >
		IdCatalogoEstadoEntregable,
	</if>
	<if test="idgrupodocumento != null" >
		IdGrupoDocumento,
	</if>
	<if test="anio != null" >
		Anio,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="identregable != null" >
		#{identregable,jdbcType=INTEGER}, 
	</if>
	<if test="idorden != null" >
		#{idorden,jdbcType=INTEGER}, 
	</if>
	<if test="nroproveido != null" >
		#{nroproveido,jdbcType=VARCHAR}, 
	</if>
	<if test="nroentregable != null" >
		#{nroentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="plazoentregable != null" >
		#{plazoentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="montoentregable != null" >
		#{montoentregable,jdbcType=DECIMAL}, 
	</if>
	<if test="montopenalidadentregable != null" >
		#{montopenalidadentregable,jdbcType=DECIMAL}, 
	</if>
	<if test="fechapresentacionentregable != null" >
		#{fechapresentacionentregable,jdbcType=TIMESTAMP}, 
	</if>
	<if test="observacionesentregable != null" >
		#{observacionesentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="idcatalogoestadoentregable != null" >
		#{idcatalogoestadoentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="idgrupodocumento != null" >
		#{idgrupodocumento,jdbcType=INTEGER}, 
	</if>
	<if test="anio != null" >
		#{anio,jdbcType=INTEGER}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Entregable" >
	update abas.Entregable 
	set 
	IDENTREGABLE = #{identregable,jdbcType=INTEGER}, IDORDEN = #{idorden,jdbcType=INTEGER}, 
	NROPROVEIDO = #{nroproveido,jdbcType=VARCHAR}, NROENTREGABLE = #{nroentregable,jdbcType=VARCHAR}, 
	PLAZOENTREGABLE = #{plazoentregable,jdbcType=VARCHAR}, MONTOENTREGABLE = #{montoentregable,jdbcType=DECIMAL}, 
	MONTOPENALIDADENTREGABLE = #{montopenalidadentregable,jdbcType=DECIMAL}, FECHAPRESENTACIONENTREGABLE = #{fechapresentacionentregable,jdbcType=TIMESTAMP}, 
	OBSERVACIONESENTREGABLE = #{observacionesentregable,jdbcType=VARCHAR}, IDCATALOGOESTADOENTREGABLE = #{idcatalogoestadoentregable,jdbcType=VARCHAR}, 
	IDGRUPODOCUMENTO = #{idgrupodocumento,jdbcType=INTEGER}, ANIO = #{anio,jdbcType=INTEGER}, 
	FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR} 
	where IdEntregable = #{identregable,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Entregable" >
	update abas.Entregable 
	<set>
	<if test="identregable != null" >
		IDENTREGABLE = #{identregable,jdbcType=INTEGER}, 
	</if>
	<if test="idorden != null" >
		IDORDEN = #{idorden,jdbcType=INTEGER}, 
	</if>
	<if test="nroproveido != null" >
		NROPROVEIDO = #{nroproveido,jdbcType=VARCHAR}, 
	</if>
	<if test="nroentregable != null" >
		NROENTREGABLE = #{nroentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="plazoentregable != null" >
		PLAZOENTREGABLE = #{plazoentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="montoentregable != null" >
		MONTOENTREGABLE = #{montoentregable,jdbcType=DECIMAL}, 
	</if>
	<if test="montopenalidadentregable != null" >
		MONTOPENALIDADENTREGABLE = #{montopenalidadentregable,jdbcType=DECIMAL}, 
	</if>
	<if test="fechapresentacionentregable != null" >
		FECHAPRESENTACIONENTREGABLE = #{fechapresentacionentregable,jdbcType=TIMESTAMP}, 
	</if>
	<if test="observacionesentregable != null" >
		OBSERVACIONESENTREGABLE = #{observacionesentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="idcatalogoestadoentregable != null" >
		IDCATALOGOESTADOENTREGABLE = #{idcatalogoestadoentregable,jdbcType=VARCHAR}, 
	</if>
	<if test="idgrupodocumento != null" >
		IDGRUPODOCUMENTO = #{idgrupodocumento,jdbcType=INTEGER}, 
	</if>
	<if test="anio != null" >
		ANIO = #{anio,jdbcType=INTEGER}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdEntregable = #{identregable,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Entregable" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.Entregable A1
	<where>
		<if test="identregable != null" >
			 AND A1.IDENTREGABLE = #{identregable,jdbcType=INTEGER} 
		</if>
		<if test="idorden != null" >
			 AND A1.IDORDEN = #{idorden,jdbcType=INTEGER} 
		</if>
		<if test="nroproveido != null" >
			 AND A1.NROPROVEIDO LIKE ('%' + #{nroproveido,jdbcType=VARCHAR} + '%')
		</if>
		<if test="nroentregable != null" >
			 AND A1.NROENTREGABLE LIKE ('%' + #{nroentregable,jdbcType=VARCHAR} + '%')
		</if>
		<if test="plazoentregable != null" >
			 AND A1.PLAZOENTREGABLE LIKE ('%' + #{plazoentregable,jdbcType=VARCHAR} + '%')
		</if>
		<if test="montoentregableini != null" >
			 AND A1.MONTOENTREGABLE <![CDATA[ >= ]]> #{montoentregableini,jdbcType=DECIMAL} 
		</if>

		<if test="montoentregablefin != null" >
			 AND A1.MONTOENTREGABLE <![CDATA[ <= ]]>  #{montoentregablefin,jdbcType=DECIMAL} 

		</if>
		<if test="montopenalidadentregableini != null" >
			 AND A1.MONTOPENALIDADENTREGABLE <![CDATA[ >= ]]> #{montopenalidadentregableini,jdbcType=DECIMAL} 
		</if>

		<if test="montopenalidadentregablefin != null" >
			 AND A1.MONTOPENALIDADENTREGABLE <![CDATA[ <= ]]>  #{montopenalidadentregablefin,jdbcType=DECIMAL} 

		</if>
		<if test="fechapresentacionentregableini != null" >
			 AND  (A1.FECHAPRESENTACIONENTREGABLE)  <![CDATA[ >= ]]>  #{fechapresentacionentregableini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechapresentacionentregablefin != null" >
			 AND (A1.FECHAPRESENTACIONENTREGABLE) <![CDATA[ <= ]]>  #{fechapresentacionentregablefin,jdbcType=TIMESTAMP} 

		</if>
		<if test="observacionesentregable != null" >
			 AND A1.OBSERVACIONESENTREGABLE LIKE ('%' + #{observacionesentregable,jdbcType=VARCHAR} + '%')
		</if>
		<if test="idcatalogoestadoentregable != null" >
			 AND A1.IDCATALOGOESTADOENTREGABLE = #{idcatalogoestadoentregable,jdbcType=VARCHAR} 
		</if>
		<if test="idgrupodocumento != null" >
			 AND A1.IDGRUPODOCUMENTO = #{idgrupodocumento,jdbcType=INTEGER} 
		</if>
		<if test="anio != null" >
			 AND A1.ANIO = #{anio,jdbcType=INTEGER} 
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdordenInKeys != null" >
			AND A1.IDORDEN IN
			<foreach collection="listaIdordenInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIdcatalogoestadoentregableInKeys != null" >
			AND A1.IDCATALOGOESTADOENTREGABLE IN
			<foreach collection="listaIdcatalogoestadoentregableInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>

		<if test="listaIdgrupodocumentoInKeys != null" >
			AND A1.IDGRUPODOCUMENTO IN
			<foreach collection="listaIdgrupodocumentoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Entregable" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.Entregable A1
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoEstadoEntregable = A3.vchregCodigo
	LEFT JOIN abas.GrupoDocumento A5 ON A1.IdGrupoDocumento = A5.IdGrupoDocumento
	LEFT JOIN abas.Orden A6 ON A1.IdOrden = A6.IdOrden
	<where>
		<if test="identregable != null" >
			 AND A1.IDENTREGABLE = #{identregable,jdbcType=INTEGER} 
		</if>
		<if test="idorden != null" >
			 AND A1.IDORDEN = #{idorden,jdbcType=INTEGER} 
		</if>
		<if test="nroproveido != null" >
			 AND A1.NROPROVEIDO LIKE ('%' + #{nroproveido,jdbcType=VARCHAR} + '%')
		</if>
		<if test="nroentregable != null" >
			 AND A1.NROENTREGABLE LIKE ('%' + #{nroentregable,jdbcType=VARCHAR} + '%')
		</if>
		<if test="plazoentregable != null" >
			 AND A1.PLAZOENTREGABLE LIKE ('%' + #{plazoentregable,jdbcType=VARCHAR} + '%')
		</if>
		<if test="montoentregableini != null" >
			 AND A1.MONTOENTREGABLE <![CDATA[ >= ]]> #{montoentregableini,jdbcType=DECIMAL} 
		</if>

		<if test="montoentregablefin != null" >
			 AND A1.MONTOENTREGABLE <![CDATA[ <= ]]>  #{montoentregablefin,jdbcType=DECIMAL} 

		</if>
		<if test="montopenalidadentregableini != null" >
			 AND A1.MONTOPENALIDADENTREGABLE <![CDATA[ >= ]]> #{montopenalidadentregableini,jdbcType=DECIMAL} 
		</if>

		<if test="montopenalidadentregablefin != null" >
			 AND A1.MONTOPENALIDADENTREGABLE <![CDATA[ <= ]]>  #{montopenalidadentregablefin,jdbcType=DECIMAL} 

		</if>
		<if test="fechapresentacionentregableini != null" >
			 AND  (A1.FECHAPRESENTACIONENTREGABLE)  <![CDATA[ >= ]]>  #{fechapresentacionentregableini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechapresentacionentregablefin != null" >
			 AND (A1.FECHAPRESENTACIONENTREGABLE) <![CDATA[ <= ]]>  #{fechapresentacionentregablefin,jdbcType=TIMESTAMP} 

		</if>
		<if test="observacionesentregable != null" >
			 AND A1.OBSERVACIONESENTREGABLE LIKE ('%' + #{observacionesentregable,jdbcType=VARCHAR} + '%')
		</if>
		<if test="idcatalogoestadoentregable != null" >
			 AND A1.IDCATALOGOESTADOENTREGABLE = #{idcatalogoestadoentregable,jdbcType=VARCHAR} 
		</if>
		<if test="idgrupodocumento != null" >
			 AND A1.IDGRUPODOCUMENTO = #{idgrupodocumento,jdbcType=INTEGER} 
		</if>
		<if test="anio != null" >
			 AND A1.ANIO = #{anio,jdbcType=INTEGER} 
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdordenInKeys != null" >
			AND A1.IDORDEN IN
			<foreach collection="listaIdordenInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIdcatalogoestadoentregableInKeys != null" >
			AND A1.IDCATALOGOESTADOENTREGABLE IN
			<foreach collection="listaIdcatalogoestadoentregableInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>

		<if test="listaIdgrupodocumentoInKeys != null" >
			AND A1.IDGRUPODOCUMENTO IN
			<foreach collection="listaIdgrupodocumentoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>