<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.EstadosporetapaMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Estadosporetapa">
	<result column="A1_IDESTADOPORETAPA" property="idestadoporetapa" jdbcType="INTEGER" />
	<result column="A1_IDETAPAADMINISTRATIVA" property="idetapaadministrativa" jdbcType="INTEGER" />
	<result column="A1_DESCRIPCIONESTADOPORETAPA" property="descripcionestadoporetapa" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Estadosporetapa">
	<result column="A1_IDESTADOPORETAPA" property="idestadoporetapa" jdbcType="INTEGER" />
	<result column="A1_IDETAPAADMINISTRATIVA" property="idetapaadministrativa" jdbcType="INTEGER" />
	<result column="A1_DESCRIPCIONESTADOPORETAPA" property="descripcionestadoporetapa" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />

	<result column="A3_IDETAPAADMINISTRATIVA" property="etapagestionadministrativaIdetapaadministrativa.idetapaadministrativa" jdbcType="INTEGER" />
	<result column="A3_DESCRIPCIONETAPAADMINISTRATIVA" property="etapagestionadministrativaIdetapaadministrativa.descripcionetapaadministrativa" jdbcType="VARCHAR" />
	<result column="A3_ESTADOETAPAADMINISTRATIVA" property="etapagestionadministrativaIdetapaadministrativa.estadoetapaadministrativa" jdbcType="SMALLINT" />
	<result column="A3_FECHACREACIONAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_EQUIPOAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="etapagestionadministrativaIdetapaadministrativa.estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDESTADOPORETAPA as A1_IDESTADOPORETAPA, A1.IDETAPAADMINISTRATIVA as A1_IDETAPAADMINISTRATIVA, A1.DESCRIPCIONESTADOPORETAPA as A1_DESCRIPCIONESTADOPORETAPA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA 
	</sql>


	<sql id="Full_Column_List">
	A1.IDESTADOPORETAPA as A1_IDESTADOPORETAPA, A1.IDETAPAADMINISTRATIVA as A1_IDETAPAADMINISTRATIVA, A1.DESCRIPCIONESTADOPORETAPA as A1_DESCRIPCIONESTADOPORETAPA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, 
	A3.IDETAPAADMINISTRATIVA as A3_IDETAPAADMINISTRATIVA, A3.DESCRIPCIONETAPAADMINISTRATIVA as A3_DESCRIPCIONETAPAADMINISTRATIVA, A3.ESTADOETAPAADMINISTRATIVA as A3_ESTADOETAPAADMINISTRATIVA, A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, 
	A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, 
	A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.EstadosPorEtapa A1
	
	where A1.IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.EstadosPorEtapa A1
	
	where A1.IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.EstadosPorEtapa A1
	
	LEFT JOIN abas.EtapaGestionAdministrativa A3 ON A1.IdEtapaAdministrativa = A3.IdEtapaAdministrativa
	where A1.IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.EstadosPorEtapa A1
	
	LEFT JOIN abas.EtapaGestionAdministrativa A3 ON A1.IdEtapaAdministrativa = A3.IdEtapaAdministrativa
	where A1.IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.EstadosPorEtapa 
	where IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Estadosporetapa" >
	insert into abas.EstadosPorEtapa (
	IDESTADOPORETAPA, IDETAPAADMINISTRATIVA, DESCRIPCIONESTADOPORETAPA, ESTADOAUDITORIA, 
	FECHACREACIONAUDITORIA, USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, 
	EQUIPOAUDITORIA, PROGRAMAAUDITORIA ) 
	VALUES (
	#{idestadoporetapa,jdbcType=INTEGER}, #{idetapaadministrativa,jdbcType=INTEGER}, #{descripcionestadoporetapa,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR}, 
	#{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	#{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR} ) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Estadosporetapa" >
	insert into abas.EstadosPorEtapa 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="idestadoporetapa != null" >
		IdEstadoPorEtapa,
	</if>
	<if test="idetapaadministrativa != null" >
		IdEtapaAdministrativa,
	</if>
	<if test="descripcionestadoporetapa != null" >
		DescripcionEstadoPorEtapa,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="idestadoporetapa != null" >
		#{idestadoporetapa,jdbcType=INTEGER}, 
	</if>
	<if test="idetapaadministrativa != null" >
		#{idetapaadministrativa,jdbcType=INTEGER}, 
	</if>
	<if test="descripcionestadoporetapa != null" >
		#{descripcionestadoporetapa,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Estadosporetapa" >
	update abas.EstadosPorEtapa 
	set 
	IDESTADOPORETAPA = #{idestadoporetapa,jdbcType=INTEGER}, IDETAPAADMINISTRATIVA = #{idetapaadministrativa,jdbcType=INTEGER}, 
	DESCRIPCIONESTADOPORETAPA = #{descripcionestadoporetapa,jdbcType=VARCHAR}, ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR} 
	
	where IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Estadosporetapa" >
	update abas.EstadosPorEtapa 
	<set>
	<if test="idestadoporetapa != null" >
		IDESTADOPORETAPA = #{idestadoporetapa,jdbcType=INTEGER}, 
	</if>
	<if test="idetapaadministrativa != null" >
		IDETAPAADMINISTRATIVA = #{idetapaadministrativa,jdbcType=INTEGER}, 
	</if>
	<if test="descripcionestadoporetapa != null" >
		DESCRIPCIONESTADOPORETAPA = #{descripcionestadoporetapa,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdEstadoPorEtapa = #{idestadoporetapa,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Estadosporetapa" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.EstadosPorEtapa A1
	<where>
		<if test="idestadoporetapa != null" >
			 AND A1.IDESTADOPORETAPA = #{idestadoporetapa,jdbcType=INTEGER} 
		</if>
		<if test="idetapaadministrativa != null" >
			 AND A1.IDETAPAADMINISTRATIVA = #{idetapaadministrativa,jdbcType=INTEGER} 
		</if>
		<if test="descripcionestadoporetapa != null" >
			 AND A1.DESCRIPCIONESTADOPORETAPA LIKE ('%' + #{descripcionestadoporetapa,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdetapaadministrativaInKeys != null" >
			AND A1.IDETAPAADMINISTRATIVA IN
			<foreach collection="listaIdetapaadministrativaInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Estadosporetapa" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.EstadosPorEtapa A1
	LEFT JOIN abas.EtapaGestionAdministrativa A3 ON A1.IdEtapaAdministrativa = A3.IdEtapaAdministrativa
	<where>
		<if test="idestadoporetapa != null" >
			 AND A1.IDESTADOPORETAPA = #{idestadoporetapa,jdbcType=INTEGER} 
		</if>
		<if test="idetapaadministrativa != null" >
			 AND A1.IDETAPAADMINISTRATIVA = #{idetapaadministrativa,jdbcType=INTEGER} 
		</if>
		<if test="descripcionestadoporetapa != null" >
			 AND A1.DESCRIPCIONESTADOPORETAPA LIKE ('%' + #{descripcionestadoporetapa,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdetapaadministrativaInKeys != null" >
			AND A1.IDETAPAADMINISTRATIVA IN
			<foreach collection="listaIdetapaadministrativaInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>