<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.EstadospordocumentosigaMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Estadospordocumentosiga">
	<result column="A1_IDESTADOSPORDOCUMENTOSIGA" property="idestadospordocumentosiga" jdbcType="INTEGER" />
	<result column="A1_IDCATALOGOTIPODOCUMENTOSIGA" property="idcatalogotipodocumentosiga" jdbcType="VARCHAR" />
	<result column="A1_CODIGOESTADOPORDOCUMENTOSIGA" property="codigoestadopordocumentosiga" jdbcType="VARCHAR" />
	<result column="A1_DESCRIPCIONESTADOSPORDOCUMENTOSIGA" property="descripcionestadospordocumentosiga" jdbcType="VARCHAR" />
	<result column="A1_CODIGOTIPOPROCESO" property="codigotipoproceso" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Estadospordocumentosiga">
	<result column="A1_IDESTADOSPORDOCUMENTOSIGA" property="idestadospordocumentosiga" jdbcType="INTEGER" />
	<result column="A1_IDCATALOGOTIPODOCUMENTOSIGA" property="idcatalogotipodocumentosiga" jdbcType="VARCHAR" />
	<result column="A1_CODIGOESTADOPORDOCUMENTOSIGA" property="codigoestadopordocumentosiga" jdbcType="VARCHAR" />
	<result column="A1_DESCRIPCIONESTADOSPORDOCUMENTOSIGA" property="descripcionestadospordocumentosiga" jdbcType="VARCHAR" />
	<result column="A1_CODIGOTIPOPROCESO" property="codigotipoproceso" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	<result column="A3_VCHREGCODIGO" property="gentablaIdcatalogotipodocumentosiga.vchregcodigo" jdbcType="VARCHAR" />
	<result column="A3_VCHREGDESCRI" property="gentablaIdcatalogotipodocumentosiga.vchregdescri" jdbcType="VARCHAR" />
	<result column="A3_VCHREGABREVIADO" property="gentablaIdcatalogotipodocumentosiga.vchregabreviado" jdbcType="VARCHAR" />
	<result column="A3_VCHTIPCODIGO" property="gentablaIdcatalogotipodocumentosiga.vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A3_INTREGORDEN" property="gentablaIdcatalogotipodocumentosiga.intregorden" jdbcType="INTEGER" />
	<result column="A3_VCHTABOTRO1" property="gentablaIdcatalogotipodocumentosiga.vchtabotro1" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO2" property="gentablaIdcatalogotipodocumentosiga.vchtabotro2" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO3" property="gentablaIdcatalogotipodocumentosiga.vchtabotro3" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO4" property="gentablaIdcatalogotipodocumentosiga.vchtabotro4" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.estadoauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_EQUIPOAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="gentablaIdcatalogotipodocumentosiga.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_INTGANEMPID" property="gentablaIdcatalogotipodocumentosiga.intganempid" jdbcType="INTEGER" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDESTADOSPORDOCUMENTOSIGA as A1_IDESTADOSPORDOCUMENTOSIGA, A1.IDCATALOGOTIPODOCUMENTOSIGA as A1_IDCATALOGOTIPODOCUMENTOSIGA, A1.CODIGOESTADOPORDOCUMENTOSIGA as A1_CODIGOESTADOPORDOCUMENTOSIGA, A1.DESCRIPCIONESTADOSPORDOCUMENTOSIGA as A1_DESCRIPCIONESTADOSPORDOCUMENTOSIGA, 
	A1.CODIGOTIPOPROCESO as A1_CODIGOTIPOPROCESO, A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, 
	A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA 
	
	</sql>


	<sql id="Full_Column_List">
	A1.IDESTADOSPORDOCUMENTOSIGA as A1_IDESTADOSPORDOCUMENTOSIGA, A1.IDCATALOGOTIPODOCUMENTOSIGA as A1_IDCATALOGOTIPODOCUMENTOSIGA, A1.CODIGOESTADOPORDOCUMENTOSIGA as A1_CODIGOESTADOPORDOCUMENTOSIGA, A1.DESCRIPCIONESTADOSPORDOCUMENTOSIGA as A1_DESCRIPCIONESTADOSPORDOCUMENTOSIGA, 
	A1.CODIGOTIPOPROCESO as A1_CODIGOTIPOPROCESO, A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, 
	A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	
	A3.VCHREGCODIGO as A3_VCHREGCODIGO, A3.VCHREGDESCRI as A3_VCHREGDESCRI, A3.VCHREGABREVIADO as A3_VCHREGABREVIADO, A3.VCHTIPCODIGO as A3_VCHTIPCODIGO, 
	A3.INTREGORDEN as A3_INTREGORDEN, A3.VCHTABOTRO1 as A3_VCHTABOTRO1, A3.VCHTABOTRO2 as A3_VCHTABOTRO2, A3.VCHTABOTRO3 as A3_VCHTABOTRO3, 
	A3.VCHTABOTRO4 as A3_VCHTABOTRO4, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, 
	A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, 
	A3.INTGANEMPID as A3_INTGANEMPID 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.EstadosPorDocumentoSiga A1
	
	where A1.IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.EstadosPorDocumentoSiga A1
	
	where A1.IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.EstadosPorDocumentoSiga A1
	
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoTipoDocumentoSiga = A3.vchregCodigo
	where A1.IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.EstadosPorDocumentoSiga A1
	
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoTipoDocumentoSiga = A3.vchregCodigo
	where A1.IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.EstadosPorDocumentoSiga 
	where IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Estadospordocumentosiga" >
	insert into abas.EstadosPorDocumentoSiga (
	IDESTADOSPORDOCUMENTOSIGA, IDCATALOGOTIPODOCUMENTOSIGA, CODIGOESTADOPORDOCUMENTOSIGA, DESCRIPCIONESTADOSPORDOCUMENTOSIGA, 
	CODIGOTIPOPROCESO, FECHACREACIONAUDITORIA, USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, 
	USUARIOMODIFICACIONAUDITORIA, EQUIPOAUDITORIA, PROGRAMAAUDITORIA, ESTADOAUDITORIA 
	) 
	VALUES (
	#{idestadospordocumentosiga,jdbcType=INTEGER}, #{idcatalogotipodocumentosiga,jdbcType=VARCHAR}, #{codigoestadopordocumentosiga,jdbcType=VARCHAR}, #{descripcionestadospordocumentosiga,jdbcType=VARCHAR}, 
	#{codigotipoproceso,jdbcType=VARCHAR}, #{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	#{usuariomodificacionauditoria,jdbcType=VARCHAR}, #{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR} 
	) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Estadospordocumentosiga" >
	insert into abas.EstadosPorDocumentoSiga 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="idestadospordocumentosiga != null" >
		IdEstadosPorDocumentoSiga,
	</if>
	<if test="idcatalogotipodocumentosiga != null" >
		IdCatalogoTipoDocumentoSiga,
	</if>
	<if test="codigoestadopordocumentosiga != null" >
		CodigoEstadoPorDocumentoSiga,
	</if>
	<if test="descripcionestadospordocumentosiga != null" >
		DescripcionEstadosPorDocumentoSiga,
	</if>
	<if test="codigotipoproceso != null" >
		CodigoTipoProceso,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="idestadospordocumentosiga != null" >
		#{idestadospordocumentosiga,jdbcType=INTEGER}, 
	</if>
	<if test="idcatalogotipodocumentosiga != null" >
		#{idcatalogotipodocumentosiga,jdbcType=VARCHAR}, 
	</if>
	<if test="codigoestadopordocumentosiga != null" >
		#{codigoestadopordocumentosiga,jdbcType=VARCHAR}, 
	</if>
	<if test="descripcionestadospordocumentosiga != null" >
		#{descripcionestadospordocumentosiga,jdbcType=VARCHAR}, 
	</if>
	<if test="codigotipoproceso != null" >
		#{codigotipoproceso,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Estadospordocumentosiga" >
	update abas.EstadosPorDocumentoSiga 
	set 
	IDESTADOSPORDOCUMENTOSIGA = #{idestadospordocumentosiga,jdbcType=INTEGER}, IDCATALOGOTIPODOCUMENTOSIGA = #{idcatalogotipodocumentosiga,jdbcType=VARCHAR}, 
	CODIGOESTADOPORDOCUMENTOSIGA = #{codigoestadopordocumentosiga,jdbcType=VARCHAR}, DESCRIPCIONESTADOSPORDOCUMENTOSIGA = #{descripcionestadospordocumentosiga,jdbcType=VARCHAR}, 
	CODIGOTIPOPROCESO = #{codigotipoproceso,jdbcType=VARCHAR}, FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR} 
	
	where IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Estadospordocumentosiga" >
	update abas.EstadosPorDocumentoSiga 
	<set>
	<if test="idestadospordocumentosiga != null" >
		IDESTADOSPORDOCUMENTOSIGA = #{idestadospordocumentosiga,jdbcType=INTEGER}, 
	</if>
	<if test="idcatalogotipodocumentosiga != null" >
		IDCATALOGOTIPODOCUMENTOSIGA = #{idcatalogotipodocumentosiga,jdbcType=VARCHAR}, 
	</if>
	<if test="codigoestadopordocumentosiga != null" >
		CODIGOESTADOPORDOCUMENTOSIGA = #{codigoestadopordocumentosiga,jdbcType=VARCHAR}, 
	</if>
	<if test="descripcionestadospordocumentosiga != null" >
		DESCRIPCIONESTADOSPORDOCUMENTOSIGA = #{descripcionestadospordocumentosiga,jdbcType=VARCHAR}, 
	</if>
	<if test="codigotipoproceso != null" >
		CODIGOTIPOPROCESO = #{codigotipoproceso,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdEstadosPorDocumentoSiga = #{idestadospordocumentosiga,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Estadospordocumentosiga" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.EstadosPorDocumentoSiga A1
	<where>
		<if test="idestadospordocumentosiga != null" >
			 AND A1.IDESTADOSPORDOCUMENTOSIGA = #{idestadospordocumentosiga,jdbcType=INTEGER} 
		</if>
		<if test="idcatalogotipodocumentosiga != null" >
			 AND A1.IDCATALOGOTIPODOCUMENTOSIGA = #{idcatalogotipodocumentosiga,jdbcType=VARCHAR} 
		</if>
		<if test="codigoestadopordocumentosiga != null" >
			 AND A1.CODIGOESTADOPORDOCUMENTOSIGA LIKE ('%' + #{codigoestadopordocumentosiga,jdbcType=VARCHAR} + '%')
		</if>
		<if test="descripcionestadospordocumentosiga != null" >
			 AND A1.DESCRIPCIONESTADOSPORDOCUMENTOSIGA LIKE ('%' + #{descripcionestadospordocumentosiga,jdbcType=VARCHAR} + '%')
		</if>
		<if test="codigotipoproceso != null" >
			 AND A1.CODIGOTIPOPROCESO LIKE ('%' + #{codigotipoproceso,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdcatalogotipodocumentosigaInKeys != null" >
			AND A1.IDCATALOGOTIPODOCUMENTOSIGA IN
			<foreach collection="listaIdcatalogotipodocumentosigaInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Estadospordocumentosiga" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.EstadosPorDocumentoSiga A1
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoTipoDocumentoSiga = A3.vchregCodigo
	<where>
		<if test="idestadospordocumentosiga != null" >
			 AND A1.IDESTADOSPORDOCUMENTOSIGA = #{idestadospordocumentosiga,jdbcType=INTEGER} 
		</if>
		<if test="idcatalogotipodocumentosiga != null" >
			 AND A1.IDCATALOGOTIPODOCUMENTOSIGA = #{idcatalogotipodocumentosiga,jdbcType=VARCHAR} 
		</if>
		<if test="codigoestadopordocumentosiga != null" >
			 AND A1.CODIGOESTADOPORDOCUMENTOSIGA LIKE ('%' + #{codigoestadopordocumentosiga,jdbcType=VARCHAR} + '%')
		</if>
		<if test="descripcionestadospordocumentosiga != null" >
			 AND A1.DESCRIPCIONESTADOSPORDOCUMENTOSIGA LIKE ('%' + #{descripcionestadospordocumentosiga,jdbcType=VARCHAR} + '%')
		</if>
		<if test="codigotipoproceso != null" >
			 AND A1.CODIGOTIPOPROCESO LIKE ('%' + #{codigotipoproceso,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdcatalogotipodocumentosigaInKeys != null" >
			AND A1.IDCATALOGOTIPODOCUMENTOSIGA IN
			<foreach collection="listaIdcatalogotipodocumentosigaInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>