<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.GenparametroMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Genparametro">
	<result column="A1_VCHPARAMCODIGO" property="vchparamcodigo" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMVALOR" property="vchparamvalor" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMDESCRI" property="vchparamdescri" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMDESCRIADI" property="vchparamdescriadi" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMGRUPO" property="vchparamgrupo" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Genparametro">
	<result column="A1_VCHPARAMCODIGO" property="vchparamcodigo" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMVALOR" property="vchparamvalor" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMDESCRI" property="vchparamdescri" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMDESCRIADI" property="vchparamdescriadi" jdbcType="VARCHAR" />
	<result column="A1_VCHPARAMGRUPO" property="vchparamgrupo" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />

	<result column="A3_VCHREGCODIGO" property="gentablaVchparamgrupo.vchregcodigo" jdbcType="VARCHAR" />
	<result column="A3_VCHREGDESCRI" property="gentablaVchparamgrupo.vchregdescri" jdbcType="VARCHAR" />
	<result column="A3_VCHREGABREVIADO" property="gentablaVchparamgrupo.vchregabreviado" jdbcType="VARCHAR" />
	<result column="A3_VCHTIPCODIGO" property="gentablaVchparamgrupo.vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A3_INTREGORDEN" property="gentablaVchparamgrupo.intregorden" jdbcType="INTEGER" />
	<result column="A3_VCHTABOTRO1" property="gentablaVchparamgrupo.vchtabotro1" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO2" property="gentablaVchparamgrupo.vchtabotro2" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO3" property="gentablaVchparamgrupo.vchtabotro3" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO4" property="gentablaVchparamgrupo.vchtabotro4" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="gentablaVchparamgrupo.estadoauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="gentablaVchparamgrupo.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="gentablaVchparamgrupo.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="gentablaVchparamgrupo.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="gentablaVchparamgrupo.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_EQUIPOAUDITORIA" property="gentablaVchparamgrupo.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="gentablaVchparamgrupo.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_INTGANEMPID" property="gentablaVchparamgrupo.intganempid" jdbcType="INTEGER" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.VCHPARAMCODIGO as A1_VCHPARAMCODIGO, A1.VCHPARAMVALOR as A1_VCHPARAMVALOR, A1.VCHPARAMDESCRI as A1_VCHPARAMDESCRI, A1.VCHPARAMDESCRIADI as A1_VCHPARAMDESCRIADI, 
	A1.VCHPARAMGRUPO as A1_VCHPARAMGRUPO, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA 
	
	</sql>


	<sql id="Full_Column_List">
	A1.VCHPARAMCODIGO as A1_VCHPARAMCODIGO, A1.VCHPARAMVALOR as A1_VCHPARAMVALOR, A1.VCHPARAMDESCRI as A1_VCHPARAMDESCRI, A1.VCHPARAMDESCRIADI as A1_VCHPARAMDESCRIADI, 
	A1.VCHPARAMGRUPO as A1_VCHPARAMGRUPO, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, 
	
	A3.VCHREGCODIGO as A3_VCHREGCODIGO, A3.VCHREGDESCRI as A3_VCHREGDESCRI, A3.VCHREGABREVIADO as A3_VCHREGABREVIADO, A3.VCHTIPCODIGO as A3_VCHTIPCODIGO, 
	A3.INTREGORDEN as A3_INTREGORDEN, A3.VCHTABOTRO1 as A3_VCHTABOTRO1, A3.VCHTABOTRO2 as A3_VCHTABOTRO2, A3.VCHTABOTRO3 as A3_VCHTABOTRO3, 
	A3.VCHTABOTRO4 as A3_VCHTABOTRO4, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, 
	A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, 
	A3.INTGANEMPID as A3_INTGANEMPID 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.genparametro A1
	
	where A1.vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.genparametro A1
	
	where A1.vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.genparametro A1
	
	LEFT JOIN abas.gentabla A3 ON A1.vchparamgrupo = A3.vchregCodigo
	where A1.vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.genparametro A1
	
	LEFT JOIN abas.gentabla A3 ON A1.vchparamgrupo = A3.vchregCodigo
	where A1.vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
	delete from abas.genparametro 
	where vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Genparametro" >
	insert into abas.genparametro (
	VCHPARAMCODIGO, VCHPARAMVALOR, VCHPARAMDESCRI, VCHPARAMDESCRIADI, 
	VCHPARAMGRUPO, ESTADOAUDITORIA, USUARIOCREACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, 
	FECHACREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, EQUIPOAUDITORIA, PROGRAMAAUDITORIA 
	) 
	VALUES (
	#{vchparamcodigo,jdbcType=VARCHAR}, #{vchparamvalor,jdbcType=VARCHAR}, #{vchparamdescri,jdbcType=VARCHAR}, #{vchparamdescriadi,jdbcType=VARCHAR}, 
	#{vchparamgrupo,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	#{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR} 
	) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Genparametro" >
	insert into abas.genparametro 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="vchparamcodigo != null" >
		vchparamCodigo,
	</if>
	<if test="vchparamvalor != null" >
		vchparamvalor,
	</if>
	<if test="vchparamdescri != null" >
		vchparamdescri,
	</if>
	<if test="vchparamdescriadi != null" >
		vchparamdescriadi,
	</if>
	<if test="vchparamgrupo != null" >
		vchparamgrupo,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="vchparamcodigo != null" >
		#{vchparamcodigo,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamvalor != null" >
		#{vchparamvalor,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamdescri != null" >
		#{vchparamdescri,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamdescriadi != null" >
		#{vchparamdescriadi,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamgrupo != null" >
		#{vchparamgrupo,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Genparametro" >
	update abas.genparametro 
	set 
	VCHPARAMCODIGO = #{vchparamcodigo,jdbcType=VARCHAR}, VCHPARAMVALOR = #{vchparamvalor,jdbcType=VARCHAR}, 
	VCHPARAMDESCRI = #{vchparamdescri,jdbcType=VARCHAR}, VCHPARAMDESCRIADI = #{vchparamdescriadi,jdbcType=VARCHAR}, 
	VCHPARAMGRUPO = #{vchparamgrupo,jdbcType=VARCHAR}, ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR} 
	
	where vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Genparametro" >
	update abas.genparametro 
	<set>
	<if test="vchparamcodigo != null" >
		VCHPARAMCODIGO = #{vchparamcodigo,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamvalor != null" >
		VCHPARAMVALOR = #{vchparamvalor,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamdescri != null" >
		VCHPARAMDESCRI = #{vchparamdescri,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamdescriadi != null" >
		VCHPARAMDESCRIADI = #{vchparamdescriadi,jdbcType=VARCHAR}, 
	</if>
	<if test="vchparamgrupo != null" >
		VCHPARAMGRUPO = #{vchparamgrupo,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where vchparamCodigo = #{vchparamcodigo,jdbcType=VARCHAR}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Genparametro" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.genparametro A1
	<where>
		<if test="vchparamcodigo != null" >
			 AND A1.VCHPARAMCODIGO LIKE ('%' + #{vchparamcodigo,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamvalor != null" >
			 AND A1.VCHPARAMVALOR LIKE ('%' + #{vchparamvalor,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamdescri != null" >
			 AND A1.VCHPARAMDESCRI LIKE ('%' + #{vchparamdescri,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamdescriadi != null" >
			 AND A1.VCHPARAMDESCRIADI LIKE ('%' + #{vchparamdescriadi,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamgrupo != null" >
			 AND A1.VCHPARAMGRUPO = #{vchparamgrupo,jdbcType=VARCHAR} 
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaVchparamgrupoInKeys != null" >
			AND A1.VCHPARAMGRUPO IN
			<foreach collection="listaVchparamgrupoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Genparametro" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.genparametro A1
	LEFT JOIN abas.gentabla A3 ON A1.vchparamgrupo = A3.vchregCodigo
	<where>
		<if test="vchparamcodigo != null" >
			 AND A1.VCHPARAMCODIGO LIKE ('%' + #{vchparamcodigo,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamvalor != null" >
			 AND A1.VCHPARAMVALOR LIKE ('%' + #{vchparamvalor,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamdescri != null" >
			 AND A1.VCHPARAMDESCRI LIKE ('%' + #{vchparamdescri,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamdescriadi != null" >
			 AND A1.VCHPARAMDESCRIADI LIKE ('%' + #{vchparamdescriadi,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchparamgrupo != null" >
			 AND A1.VCHPARAMGRUPO = #{vchparamgrupo,jdbcType=VARCHAR} 
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaVchparamgrupoInKeys != null" >
			AND A1.VCHPARAMGRUPO IN
			<foreach collection="listaVchparamgrupoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>