<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.GentablaMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Gentabla">
	<result column="A1_VCHREGCODIGO" property="vchregcodigo" jdbcType="VARCHAR" />
	<result column="A1_VCHREGDESCRI" property="vchregdescri" jdbcType="VARCHAR" />
	<result column="A1_VCHREGABREVIADO" property="vchregabreviado" jdbcType="VARCHAR" />
	<result column="A1_VCHTIPCODIGO" property="vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A1_INTREGORDEN" property="intregorden" jdbcType="INTEGER" />
	<result column="A1_VCHTABOTRO1" property="vchtabotro1" jdbcType="VARCHAR" />
	<result column="A1_VCHTABOTRO2" property="vchtabotro2" jdbcType="VARCHAR" />
	<result column="A1_VCHTABOTRO3" property="vchtabotro3" jdbcType="VARCHAR" />
	<result column="A1_VCHTABOTRO4" property="vchtabotro4" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_INTGANEMPID" property="intganempid" jdbcType="INTEGER" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Gentabla">
	<result column="A1_VCHREGCODIGO" property="vchregcodigo" jdbcType="VARCHAR" />
	<result column="A1_VCHREGDESCRI" property="vchregdescri" jdbcType="VARCHAR" />
	<result column="A1_VCHREGABREVIADO" property="vchregabreviado" jdbcType="VARCHAR" />
	<result column="A1_VCHTIPCODIGO" property="vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A1_INTREGORDEN" property="intregorden" jdbcType="INTEGER" />
	<result column="A1_VCHTABOTRO1" property="vchtabotro1" jdbcType="VARCHAR" />
	<result column="A1_VCHTABOTRO2" property="vchtabotro2" jdbcType="VARCHAR" />
	<result column="A1_VCHTABOTRO3" property="vchtabotro3" jdbcType="VARCHAR" />
	<result column="A1_VCHTABOTRO4" property="vchtabotro4" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_INTGANEMPID" property="intganempid" jdbcType="INTEGER" />

	<result column="A3_VCHTIPCODIGO" property="gentipoVchtipcodigo.vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A3_VCHTIPDESCRIPCION" property="gentipoVchtipcodigo.vchtipdescripcion" jdbcType="VARCHAR" />
	<result column="A3_VCHTIPDESADICIONAL" property="gentipoVchtipcodigo.vchtipdesadicional" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="gentipoVchtipcodigo.estadoauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="gentipoVchtipcodigo.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="gentipoVchtipcodigo.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="gentipoVchtipcodigo.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="gentipoVchtipcodigo.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_EQUIPOAUDITORIA" property="gentipoVchtipcodigo.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="gentipoVchtipcodigo.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_INTGANEMPID" property="gentipoVchtipcodigo.intganempid" jdbcType="INTEGER" />

	</resultMap>

	<resultMap type="pe.com.sisabas.dto.TipoProcesoResponse" id="tipoProcesoItems">
		<result column="CODIGO_DET" property="codigo" jdbcType="VARCHAR"/>
		<result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Basic_Column_List">
	A1.VCHREGCODIGO as A1_VCHREGCODIGO, A1.VCHREGDESCRI as A1_VCHREGDESCRI, A1.VCHREGABREVIADO as A1_VCHREGABREVIADO, A1.VCHTIPCODIGO as A1_VCHTIPCODIGO, 
	A1.INTREGORDEN as A1_INTREGORDEN, A1.VCHTABOTRO1 as A1_VCHTABOTRO1, A1.VCHTABOTRO2 as A1_VCHTABOTRO2, A1.VCHTABOTRO3 as A1_VCHTABOTRO3, 
	A1.VCHTABOTRO4 as A1_VCHTABOTRO4, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, 
	A1.INTGANEMPID as A1_INTGANEMPID 
	</sql>


	<sql id="Full_Column_List">
	A1.VCHREGCODIGO as A1_VCHREGCODIGO, A1.VCHREGDESCRI as A1_VCHREGDESCRI, A1.VCHREGABREVIADO as A1_VCHREGABREVIADO, A1.VCHTIPCODIGO as A1_VCHTIPCODIGO, 
	A1.INTREGORDEN as A1_INTREGORDEN, A1.VCHTABOTRO1 as A1_VCHTABOTRO1, A1.VCHTABOTRO2 as A1_VCHTABOTRO2, A1.VCHTABOTRO3 as A1_VCHTABOTRO3, 
	A1.VCHTABOTRO4 as A1_VCHTABOTRO4, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, 
	A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, 
	A1.INTGANEMPID as A1_INTGANEMPID, 
	A3.VCHTIPCODIGO as A3_VCHTIPCODIGO, A3.VCHTIPDESCRIPCION as A3_VCHTIPDESCRIPCION, A3.VCHTIPDESADICIONAL as A3_VCHTIPDESADICIONAL, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, 
	A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, 
	A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, A3.INTGANEMPID as A3_INTGANEMPID 
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.gentabla A1
	
	where A1.vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.gentabla A1
	
	where A1.vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.gentabla A1
	
	LEFT JOIN abas.gentipo A3 ON A1.vchtipCodigo = A3.vchtipCodigo
	where A1.vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.String" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.gentabla A1
	
	LEFT JOIN abas.gentipo A3 ON A1.vchtipCodigo = A3.vchtipCodigo
	where A1.vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
	delete from abas.gentabla 
	where vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Gentabla" >
	insert into abas.gentabla (
	VCHREGCODIGO, VCHREGDESCRI, VCHREGABREVIADO, VCHTIPCODIGO, 
	INTREGORDEN, VCHTABOTRO1, VCHTABOTRO2, VCHTABOTRO3, 
	VCHTABOTRO4, ESTADOAUDITORIA, USUARIOCREACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, 
	FECHACREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, EQUIPOAUDITORIA, PROGRAMAAUDITORIA, 
	INTGANEMPID ) 
	VALUES (
	#{vchregcodigo,jdbcType=VARCHAR}, #{vchregdescri,jdbcType=VARCHAR}, #{vchregabreviado,jdbcType=VARCHAR}, #{vchtipcodigo,jdbcType=VARCHAR}, 
	#{intregorden,jdbcType=INTEGER}, #{vchtabotro1,jdbcType=VARCHAR}, #{vchtabotro2,jdbcType=VARCHAR}, #{vchtabotro3,jdbcType=VARCHAR}, 
	#{vchtabotro4,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR}, #{usuariocreacionauditoria,jdbcType=VARCHAR}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	#{fechacreacionauditoria,jdbcType=TIMESTAMP}, #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, #{equipoauditoria,jdbcType=VARCHAR}, #{programaauditoria,jdbcType=VARCHAR}, 
	#{intganempid,jdbcType=INTEGER} ) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Gentabla" >
	insert into abas.gentabla 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="vchregcodigo != null" >
		vchregCodigo,
	</if>
	<if test="vchregdescri != null" >
		vchregdescri,
	</if>
	<if test="vchregabreviado != null" >
		vchregabreviado,
	</if>
	<if test="vchtipcodigo != null" >
		vchtipCodigo,
	</if>
	<if test="intregorden != null" >
		intregorden,
	</if>
	<if test="vchtabotro1 != null" >
		vchtabotro1,
	</if>
	<if test="vchtabotro2 != null" >
		vchtabotro2,
	</if>
	<if test="vchtabotro3 != null" >
		vchtabotro3,
	</if>
	<if test="vchtabotro4 != null" >
		vchtabotro4,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	<if test="intganempid != null" >
		intganempid,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="vchregcodigo != null" >
		#{vchregcodigo,jdbcType=VARCHAR}, 
	</if>
	<if test="vchregdescri != null" >
		#{vchregdescri,jdbcType=VARCHAR}, 
	</if>
	<if test="vchregabreviado != null" >
		#{vchregabreviado,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtipcodigo != null" >
		#{vchtipcodigo,jdbcType=VARCHAR}, 
	</if>
	<if test="intregorden != null" >
		#{intregorden,jdbcType=INTEGER}, 
	</if>
	<if test="vchtabotro1 != null" >
		#{vchtabotro1,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtabotro2 != null" >
		#{vchtabotro2,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtabotro3 != null" >
		#{vchtabotro3,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtabotro4 != null" >
		#{vchtabotro4,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="intganempid != null" >
		#{intganempid,jdbcType=INTEGER}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Gentabla" >
	update abas.gentabla 
	set 
	VCHREGCODIGO = #{vchregcodigo,jdbcType=VARCHAR}, VCHREGDESCRI = #{vchregdescri,jdbcType=VARCHAR}, 
	VCHREGABREVIADO = #{vchregabreviado,jdbcType=VARCHAR}, VCHTIPCODIGO = #{vchtipcodigo,jdbcType=VARCHAR}, 
	INTREGORDEN = #{intregorden,jdbcType=INTEGER}, VCHTABOTRO1 = #{vchtabotro1,jdbcType=VARCHAR}, 
	VCHTABOTRO2 = #{vchtabotro2,jdbcType=VARCHAR}, VCHTABOTRO3 = #{vchtabotro3,jdbcType=VARCHAR}, 
	VCHTABOTRO4 = #{vchtabotro4,jdbcType=VARCHAR}, ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	INTGANEMPID = #{intganempid,jdbcType=INTEGER} 
	where vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Gentabla" >
	update abas.gentabla 
	<set>
	<if test="vchregcodigo != null" >
		VCHREGCODIGO = #{vchregcodigo,jdbcType=VARCHAR}, 
	</if>
	<if test="vchregdescri != null" >
		VCHREGDESCRI = #{vchregdescri,jdbcType=VARCHAR}, 
	</if>
	<if test="vchregabreviado != null" >
		VCHREGABREVIADO = #{vchregabreviado,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtipcodigo != null" >
		VCHTIPCODIGO = #{vchtipcodigo,jdbcType=VARCHAR}, 
	</if>
	<if test="intregorden != null" >
		INTREGORDEN = #{intregorden,jdbcType=INTEGER}, 
	</if>
	<if test="vchtabotro1 != null" >
		VCHTABOTRO1 = #{vchtabotro1,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtabotro2 != null" >
		VCHTABOTRO2 = #{vchtabotro2,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtabotro3 != null" >
		VCHTABOTRO3 = #{vchtabotro3,jdbcType=VARCHAR}, 
	</if>
	<if test="vchtabotro4 != null" >
		VCHTABOTRO4 = #{vchtabotro4,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=TIMESTAMP}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="intganempid != null" >
		INTGANEMPID = #{intganempid,jdbcType=INTEGER}, 
	</if>
	</set>

	where vchregCodigo = #{vchregcodigo,jdbcType=VARCHAR}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Gentabla" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.gentabla A1
	<where>
		<if test="vchregcodigo != null" >
			 AND A1.VCHREGCODIGO LIKE ('%' + #{vchregcodigo,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchregdescri != null" >
			 AND A1.VCHREGDESCRI LIKE ('%' + #{vchregdescri,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchregabreviado != null" >
			 AND A1.VCHREGABREVIADO LIKE ('%' + #{vchregabreviado,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtipcodigo != null" >
			 AND A1.VCHTIPCODIGO = #{vchtipcodigo,jdbcType=VARCHAR} 
		</if>
		<if test="intregorden != null" >
			 AND A1.INTREGORDEN = #{intregorden,jdbcType=INTEGER} 
		</if>
		<if test="vchtabotro1 != null" >
			 AND A1.VCHTABOTRO1 LIKE ('%' + #{vchtabotro1,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtabotro2 != null" >
			 AND A1.VCHTABOTRO2 LIKE ('%' + #{vchtabotro2,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtabotro3 != null" >
			 AND A1.VCHTABOTRO3 LIKE ('%' + #{vchtabotro3,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtabotro4 != null" >
			 AND A1.VCHTABOTRO4 LIKE ('%' + #{vchtabotro4,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="intganempid != null" >
			 AND A1.INTGANEMPID = #{intganempid,jdbcType=INTEGER} 
		</if>

		<if test="listaVchtipcodigoInKeys != null" >
			AND A1.VCHTIPCODIGO IN
			<foreach collection="listaVchtipcodigoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Gentabla" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.gentabla A1
	LEFT JOIN abas.gentipo A3 ON A1.vchtipCodigo = A3.vchtipCodigo
	<where>
		<if test="vchregcodigo != null" >
			 AND A1.VCHREGCODIGO LIKE ('%' + #{vchregcodigo,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchregdescri != null" >
			 AND A1.VCHREGDESCRI LIKE ('%' + #{vchregdescri,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchregabreviado != null" >
			 AND A1.VCHREGABREVIADO LIKE ('%' + #{vchregabreviado,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtipcodigo != null" >
			 AND A1.VCHTIPCODIGO = #{vchtipcodigo,jdbcType=VARCHAR} 
		</if>
		<if test="intregorden != null" >
			 AND A1.INTREGORDEN = #{intregorden,jdbcType=INTEGER} 
		</if>
		<if test="vchtabotro1 != null" >
			 AND A1.VCHTABOTRO1 LIKE ('%' + #{vchtabotro1,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtabotro2 != null" >
			 AND A1.VCHTABOTRO2 LIKE ('%' + #{vchtabotro2,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtabotro3 != null" >
			 AND A1.VCHTABOTRO3 LIKE ('%' + #{vchtabotro3,jdbcType=VARCHAR} + '%')
		</if>
		<if test="vchtabotro4 != null" >
			 AND A1.VCHTABOTRO4 LIKE ('%' + #{vchtabotro4,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND  (A1.FECHACREACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechacreacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND (A1.FECHACREACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND  (A1.FECHAMODIFICACIONAUDITORIA)  <![CDATA[ >= ]]>  #{fechamodificacionauditoriaini,jdbcType=TIMESTAMP} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND (A1.FECHAMODIFICACIONAUDITORIA) <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=TIMESTAMP} 

		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="intganempid != null" >
			 AND A1.INTGANEMPID = #{intganempid,jdbcType=INTEGER} 
		</if>

		<if test="listaVchtipcodigoInKeys != null" >
			AND A1.VCHTIPCODIGO IN
			<foreach collection="listaVchtipcodigoInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>
	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
	
	<select id="getTipoProceso" resultMap="tipoProcesoItems" parameterType="java.lang.Integer">
		select mp.CODIGO_DET, mp.DESCRIPCION
		from abas.visSigaMaestroProceso mp
		where mp.ANO_EJE = ${anio}
		and mp.CODIGO = 'TIPO_PROCESO'
		order by mp.CODIGO_DET asc				
	</select>	
</mapper>