<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.PacprogramadoMapper" >

	<resultMap id="BasicResultMap" type="pe.com.sisabas.be.Pacprogramado">
	<result column="A1_IDPACPROGRAMADO" property="idpacprogramado" jdbcType="INTEGER" />
	<result column="A1_ANIO" property="anio" jdbcType="INTEGER" />
	<result column="A1_IDUNIDADEJECUTORA" property="idunidadejecutora" jdbcType="INTEGER" />
	<result column="A1_NROCONSOLID" property="nroconsolid" jdbcType="VARCHAR" />
	<result column="A1_ESPECIFICACIONTECNICA" property="especificaciontecnica" jdbcType="VARCHAR" />
	<result column="A1_IDCATALOGOTIPOBIEN" property="idcatalogotipobien" jdbcType="VARCHAR" />
	<result column="A1_MONTOPAO" property="montopao" jdbcType="DECIMAL" />
	<result column="A1_CODIGOCENTROCOSTO" property="codigocentrocosto" jdbcType="VARCHAR" />
	<result column="A1_NOMBREDEPENDENCIA" property="nombredependencia" jdbcType="VARCHAR" />
	<result column="A1_ESTADO" property="estado" jdbcType="INTEGER" />
	<result column="A1_TIPODOCUMENTOSINAD" property="tipodocumentosinad" jdbcType="VARCHAR" />
	<result column="A1_NUMERODOCUMENTOSINAD" property="numerodocumentosinad" jdbcType="VARCHAR" />
	<result column="A1_NUMEROSINAD" property="numerosinad" jdbcType="INTEGER" />
	<result column="A1_ANIOSINAD" property="aniosinad" jdbcType="INTEGER" />
	<result column="A1_NUMEROEXPEDIENTESINAD" property="numeroexpedientesinad" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="DATE" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="DATE" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<resultMap id="FullResultMap" type="pe.com.sisabas.be.Pacprogramado">
	<result column="A1_IDPACPROGRAMADO" property="idpacprogramado" jdbcType="INTEGER" />
	<result column="A1_ANIO" property="anio" jdbcType="INTEGER" />
	<result column="A1_IDUNIDADEJECUTORA" property="idunidadejecutora" jdbcType="INTEGER" />
	<result column="A1_NROCONSOLID" property="nroconsolid" jdbcType="VARCHAR" />
	<result column="A1_ESPECIFICACIONTECNICA" property="especificaciontecnica" jdbcType="VARCHAR" />
	<result column="A1_IDCATALOGOTIPOBIEN" property="idcatalogotipobien" jdbcType="VARCHAR" />
	<result column="A1_MONTOPAO" property="montopao" jdbcType="DECIMAL" />
	<result column="A1_CODIGOCENTROCOSTO" property="codigocentrocosto" jdbcType="VARCHAR" />
	<result column="A1_NOMBREDEPENDENCIA" property="nombredependencia" jdbcType="VARCHAR" />
	<result column="A1_ESTADO" property="estado" jdbcType="VARCHAR" />
	<result column="A1_TIPODOCUMENTOSINAD" property="tipodocumentosinad" jdbcType="VARCHAR" />
	<result column="A1_NUMERODOCUMENTOSINAD" property="numerodocumentosinad" jdbcType="VARCHAR" />
	<result column="A1_NUMEROSINAD" property="numerosinad" jdbcType="INTEGER" />
	<result column="A1_ANIOSINAD" property="aniosinad" jdbcType="INTEGER" />
	<result column="A1_NUMEROEXPEDIENTESINAD" property="numeroexpedientesinad" jdbcType="VARCHAR" />
	<result column="A1_FECHACREACIONAUDITORIA" property="fechacreacionauditoria" jdbcType="DATE" />
	<result column="A1_USUARIOCREACIONAUDITORIA" property="usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_FECHAMODIFICACIONAUDITORIA" property="fechamodificacionauditoria" jdbcType="DATE" />
	<result column="A1_USUARIOMODIFICACIONAUDITORIA" property="usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A1_EQUIPOAUDITORIA" property="equipoauditoria" jdbcType="VARCHAR" />
	<result column="A1_PROGRAMAAUDITORIA" property="programaauditoria" jdbcType="VARCHAR" />
	<result column="A1_ESTADOAUDITORIA" property="estadoauditoria" jdbcType="VARCHAR" />

	<result column="A3_VCHREGCODIGO" property="gentablaIdcatalogotipobien.vchregcodigo" jdbcType="VARCHAR" />
	<result column="A3_VCHREGDESCRI" property="gentablaIdcatalogotipobien.vchregdescri" jdbcType="VARCHAR" />
	<result column="A3_VCHREGABREVIADO" property="gentablaIdcatalogotipobien.vchregabreviado" jdbcType="VARCHAR" />
	<result column="A3_VCHTIPCODIGO" property="gentablaIdcatalogotipobien.vchtipcodigo" jdbcType="VARCHAR" />
	<result column="A3_INTREGORDEN" property="gentablaIdcatalogotipobien.intregorden" jdbcType="INTEGER" />
	<result column="A3_VCHTABOTRO1" property="gentablaIdcatalogotipobien.vchtabotro1" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO2" property="gentablaIdcatalogotipobien.vchtabotro2" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO3" property="gentablaIdcatalogotipobien.vchtabotro3" jdbcType="VARCHAR" />
	<result column="A3_VCHTABOTRO4" property="gentablaIdcatalogotipobien.vchtabotro4" jdbcType="VARCHAR" />
	<result column="A3_ESTADOAUDITORIA" property="gentablaIdcatalogotipobien.estadoauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOCREACIONAUDITORIA" property="gentablaIdcatalogotipobien.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_USUARIOMODIFICACIONAUDITORIA" property="gentablaIdcatalogotipobien.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A3_FECHACREACIONAUDITORIA" property="gentablaIdcatalogotipobien.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_FECHAMODIFICACIONAUDITORIA" property="gentablaIdcatalogotipobien.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A3_EQUIPOAUDITORIA" property="gentablaIdcatalogotipobien.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A3_PROGRAMAAUDITORIA" property="gentablaIdcatalogotipobien.programaauditoria" jdbcType="VARCHAR" />
	<result column="A3_INTGANEMPID" property="gentablaIdcatalogotipobien.intganempid" jdbcType="INTEGER" />

	<result column="A7_IDUNIDADEJECUTORA" property="unidadejecutoraIdunidadejecutora.idunidadejecutora" jdbcType="INTEGER" />
	<result column="A7_CODIGOUNIDADEJECUTORA" property="unidadejecutoraIdunidadejecutora.codigounidadejecutora" jdbcType="VARCHAR" />
	<result column="A7_NOMBREUNIDADEJECUTORA" property="unidadejecutoraIdunidadejecutora.nombreunidadejecutora" jdbcType="VARCHAR" />
	<result column="A7_CODIGOSIAFUNIDADEJECUTORA" property="unidadejecutoraIdunidadejecutora.codigosiafunidadejecutora" jdbcType="VARCHAR" />
	<result column="A7_UBICACIONDATOSSIAF" property="unidadejecutoraIdunidadejecutora.ubicaciondatossiaf" jdbcType="VARCHAR" />
	<result column="A7_FECHACREACIONAUDITORIA" property="unidadejecutoraIdunidadejecutora.fechacreacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A7_USUARIOCREACIONAUDITORIA" property="unidadejecutoraIdunidadejecutora.usuariocreacionauditoria" jdbcType="VARCHAR" />
	<result column="A7_FECHAMODIFICACIONAUDITORIA" property="unidadejecutoraIdunidadejecutora.fechamodificacionauditoria" jdbcType="TIMESTAMP" />
	<result column="A7_USUARIOMODIFICACIONAUDITORIA" property="unidadejecutoraIdunidadejecutora.usuariomodificacionauditoria" jdbcType="VARCHAR" />
	<result column="A7_EQUIPOAUDITORIA" property="unidadejecutoraIdunidadejecutora.equipoauditoria" jdbcType="VARCHAR" />
	<result column="A7_PROGRAMAAUDITORIA" property="unidadejecutoraIdunidadejecutora.programaauditoria" jdbcType="VARCHAR" />
	<result column="A7_ESTADOAUDITORIA" property="unidadejecutoraIdunidadejecutora.estadoauditoria" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="Basic_Column_List">
	A1.IDPACPROGRAMADO as A1_IDPACPROGRAMADO, A1.ANIO as A1_ANIO, A1.IDUNIDADEJECUTORA as A1_IDUNIDADEJECUTORA, A1.NROCONSOLID as A1_NROCONSOLID, 
	A1.ESPECIFICACIONTECNICA as A1_ESPECIFICACIONTECNICA, A1.IDCATALOGOTIPOBIEN as A1_IDCATALOGOTIPOBIEN, A1.MONTOPAO as A1_MONTOPAO, A1.CODIGOCENTROCOSTO as A1_CODIGOCENTROCOSTO, 
	A1.NOMBREDEPENDENCIA as A1_NOMBREDEPENDENCIA, A1.ESTADO as A1_ESTADO, A1.TIPODOCUMENTOSINAD as A1_TIPODOCUMENTOSINAD, A1.NUMERODOCUMENTOSINAD as A1_NUMERODOCUMENTOSINAD, 
	A1.NUMEROSINAD as A1_NUMEROSINAD, A1.ANIOSINAD as A1_ANIOSINAD, A1.NUMEROEXPEDIENTESINAD as A1_NUMEROEXPEDIENTESINAD, A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, 
	A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, 
	A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA 
	</sql>


	<sql id="Full_Column_List">
	A1.IDPACPROGRAMADO as A1_IDPACPROGRAMADO, A1.ANIO as A1_ANIO, A1.IDUNIDADEJECUTORA as A1_IDUNIDADEJECUTORA, A1.NROCONSOLID as A1_NROCONSOLID, 
	A1.ESPECIFICACIONTECNICA as A1_ESPECIFICACIONTECNICA, A1.IDCATALOGOTIPOBIEN as A1_IDCATALOGOTIPOBIEN, A1.MONTOPAO as A1_MONTOPAO, A1.CODIGOCENTROCOSTO as A1_CODIGOCENTROCOSTO, 
	A1.NOMBREDEPENDENCIA as A1_NOMBREDEPENDENCIA, A1.ESTADO as A1_ESTADO, A1.TIPODOCUMENTOSINAD as A1_TIPODOCUMENTOSINAD, A1.NUMERODOCUMENTOSINAD as A1_NUMERODOCUMENTOSINAD, 
	A1.NUMEROSINAD as A1_NUMEROSINAD, A1.ANIOSINAD as A1_ANIOSINAD, A1.NUMEROEXPEDIENTESINAD as A1_NUMEROEXPEDIENTESINAD, A1.FECHACREACIONAUDITORIA as A1_FECHACREACIONAUDITORIA, 
	A1.USUARIOCREACIONAUDITORIA as A1_USUARIOCREACIONAUDITORIA, A1.FECHAMODIFICACIONAUDITORIA as A1_FECHAMODIFICACIONAUDITORIA, A1.USUARIOMODIFICACIONAUDITORIA as A1_USUARIOMODIFICACIONAUDITORIA, A1.EQUIPOAUDITORIA as A1_EQUIPOAUDITORIA, 
	A1.PROGRAMAAUDITORIA as A1_PROGRAMAAUDITORIA, A1.ESTADOAUDITORIA as A1_ESTADOAUDITORIA, 
	A3.VCHREGCODIGO as A3_VCHREGCODIGO, A3.VCHREGDESCRI as A3_VCHREGDESCRI, A3.VCHREGABREVIADO as A3_VCHREGABREVIADO, A3.VCHTIPCODIGO as A3_VCHTIPCODIGO, 
	A3.INTREGORDEN as A3_INTREGORDEN, A3.VCHTABOTRO1 as A3_VCHTABOTRO1, A3.VCHTABOTRO2 as A3_VCHTABOTRO2, A3.VCHTABOTRO3 as A3_VCHTABOTRO3, 
	A3.VCHTABOTRO4 as A3_VCHTABOTRO4, A3.ESTADOAUDITORIA as A3_ESTADOAUDITORIA, A3.USUARIOCREACIONAUDITORIA as A3_USUARIOCREACIONAUDITORIA, A3.USUARIOMODIFICACIONAUDITORIA as A3_USUARIOMODIFICACIONAUDITORIA, 
	A3.FECHACREACIONAUDITORIA as A3_FECHACREACIONAUDITORIA, A3.FECHAMODIFICACIONAUDITORIA as A3_FECHAMODIFICACIONAUDITORIA, A3.EQUIPOAUDITORIA as A3_EQUIPOAUDITORIA, A3.PROGRAMAAUDITORIA as A3_PROGRAMAAUDITORIA, 
	A3.INTGANEMPID as A3_INTGANEMPID, 
	A5.VCHREGCODIGO as A5_VCHREGCODIGO, A5.VCHREGDESCRI as A5_VCHREGDESCRI, A5.VCHREGABREVIADO as A5_VCHREGABREVIADO, A5.VCHTIPCODIGO as A5_VCHTIPCODIGO, 
	A5.INTREGORDEN as A5_INTREGORDEN, A5.VCHTABOTRO1 as A5_VCHTABOTRO1, A5.VCHTABOTRO2 as A5_VCHTABOTRO2, A5.VCHTABOTRO3 as A5_VCHTABOTRO3, 
	A5.VCHTABOTRO4 as A5_VCHTABOTRO4, A5.ESTADOAUDITORIA as A5_ESTADOAUDITORIA, A5.USUARIOCREACIONAUDITORIA as A5_USUARIOCREACIONAUDITORIA, A5.USUARIOMODIFICACIONAUDITORIA as A5_USUARIOMODIFICACIONAUDITORIA, 
	A5.FECHACREACIONAUDITORIA as A5_FECHACREACIONAUDITORIA, A5.FECHAMODIFICACIONAUDITORIA as A5_FECHAMODIFICACIONAUDITORIA, A5.EQUIPOAUDITORIA as A5_EQUIPOAUDITORIA, A5.PROGRAMAAUDITORIA as A5_PROGRAMAAUDITORIA, 
	A5.INTGANEMPID as A5_INTGANEMPID, 
	A7.IDUNIDADEJECUTORA as A7_IDUNIDADEJECUTORA, A7.CODIGOUNIDADEJECUTORA as A7_CODIGOUNIDADEJECUTORA, A7.NOMBREUNIDADEJECUTORA as A7_NOMBREUNIDADEJECUTORA, A7.CODIGOSIAFUNIDADEJECUTORA as A7_CODIGOSIAFUNIDADEJECUTORA, 
	A7.UBICACIONDATOSSIAF as A7_UBICACIONDATOSSIAF, A7.FECHACREACIONAUDITORIA as A7_FECHACREACIONAUDITORIA, A7.USUARIOCREACIONAUDITORIA as A7_USUARIOCREACIONAUDITORIA, A7.FECHAMODIFICACIONAUDITORIA as A7_FECHAMODIFICACIONAUDITORIA, 
	A7.USUARIOMODIFICACIONAUDITORIA as A7_USUARIOMODIFICACIONAUDITORIA, A7.EQUIPOAUDITORIA as A7_EQUIPOAUDITORIA, A7.PROGRAMAAUDITORIA as A7_PROGRAMAAUDITORIA, A7.ESTADOAUDITORIA as A7_ESTADOAUDITORIA 
	
	</sql>



	<select id="selectByPrimaryKeyBasic" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.PacProgramado A1
	
	where A1.IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyBasicActive" resultMap="BasicResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.PacProgramado A1
	
	where A1.IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<select id="selectByPrimaryKeyFull" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.PacProgramado A1
	
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoTipoBien = A3.vchregCodigo
	LEFT JOIN abas.UnidadEjecutora A7 ON A1.IdUnidadEjecutora = A7.IdUnidadEjecutora
	where A1.IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
</select>



	<select id="selectByPrimaryKeyFullActive" resultMap="FullResultMap" parameterType="java.lang.Integer" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.PacProgramado A1
	
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoTipoBien = A3.vchregCodigo
	LEFT JOIN abas.UnidadEjecutora A7 ON A1.IdUnidadEjecutora = A7.IdUnidadEjecutora
	where A1.IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
	and A1.estadoauditoria='1'
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from abas.PacProgramado 
	where IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
	</delete>





	<insert id="insert" parameterType="pe.com.sisabas.be.Pacprogramado" >
	insert into abas.PacProgramado (
	IDPACPROGRAMADO, ANIO, IDUNIDADEJECUTORA, NROCONSOLID, 
	ESPECIFICACIONTECNICA, IDCATALOGOTIPOBIEN, MONTOPAO, CODIGOCENTROCOSTO, 
	NOMBREDEPENDENCIA, ESTADO, TIPODOCUMENTOSINAD, NUMERODOCUMENTOSINAD, 
	NUMEROSINAD, ANIOSINAD, NUMEROEXPEDIENTESINAD, FECHACREACIONAUDITORIA, 
	USUARIOCREACIONAUDITORIA, FECHAMODIFICACIONAUDITORIA, USUARIOMODIFICACIONAUDITORIA, EQUIPOAUDITORIA, 
	PROGRAMAAUDITORIA, ESTADOAUDITORIA ) 
	VALUES (
	#{idpacprogramado,jdbcType=INTEGER}, #{anio,jdbcType=INTEGER}, #{idunidadejecutora,jdbcType=INTEGER}, #{nroconsolid,jdbcType=VARCHAR}, 
	#{especificaciontecnica,jdbcType=VARCHAR}, #{idcatalogotipobien,jdbcType=VARCHAR}, #{montopao,jdbcType=DECIMAL}, #{codigocentrocosto,jdbcType=VARCHAR}, 
	#{nombredependencia,jdbcType=VARCHAR}, #{estado,jdbcType=INTEGER}, #{tipodocumentosinad,jdbcType=VARCHAR}, #{numerodocumentosinad,jdbcType=VARCHAR}, 
	#{numerosinad,jdbcType=INTEGER}, #{aniosinad,jdbcType=INTEGER}, #{numeroexpedientesinad,jdbcType=VARCHAR}, #{fechacreacionauditoria,jdbcType=DATE}, 
	#{usuariocreacionauditoria,jdbcType=VARCHAR}, #{fechamodificacionauditoria,jdbcType=DATE}, #{usuariomodificacionauditoria,jdbcType=VARCHAR}, #{equipoauditoria,jdbcType=VARCHAR}, 
	#{programaauditoria,jdbcType=VARCHAR}, #{estadoauditoria,jdbcType=VARCHAR} ) 
	</insert>



	<insert id="insertSelective" parameterType="pe.com.sisabas.be.Pacprogramado" >
	insert into abas.PacProgramado 
	<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="idpacprogramado != null" >
		IdPacProgramado,
	</if>
	<if test="anio != null" >
		Anio,
	</if>
	<if test="idunidadejecutora != null" >
		IdUnidadEjecutora,
	</if>
	<if test="nroconsolid != null" >
		NroConsolid,
	</if>
	<if test="especificaciontecnica != null" >
		EspecificacionTecnica,
	</if>
	<if test="idcatalogotipobien != null" >
		IdCatalogoTipoBien,
	</if>
	<if test="montopao != null" >
		MontoPao,
	</if>
	<if test="codigocentrocosto != null" >
		CodigoCentroCosto,
	</if>
	<if test="nombredependencia != null" >
		NombreDependencia,
	</if>
	<if test="estado != null" >
		Estado,
	</if>
	<if test="tipodocumentosinad != null" >
		TipoDocumentoSinad,
	</if>
	<if test="numerodocumentosinad != null" >
		NumeroDocumentoSinad,
	</if>
	<if test="numerosinad != null" >
		NumeroSinad,
	</if>
	<if test="aniosinad != null" >
		AnioSinad,
	</if>
	<if test="numeroexpedientesinad != null" >
		NumeroExpedienteSinad,
	</if>
	<if test="fechacreacionauditoria != null" >
		FechaCreacionAuditoria,
	</if>
	<if test="usuariocreacionauditoria != null" >
		UsuarioCreacionAuditoria,
	</if>
	<if test="fechamodificacionauditoria != null" >
		FechaModificacionAuditoria,
	</if>
	<if test="usuariomodificacionauditoria != null" >
		UsuarioModificacionAuditoria,
	</if>
	<if test="equipoauditoria != null" >
		EquipoAuditoria,
	</if>
	<if test="programaauditoria != null" >
		ProgramaAuditoria,
	</if>
	<if test="estadoauditoria != null" >
		EstadoAuditoria,
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="idpacprogramado != null" >
		#{idpacprogramado,jdbcType=INTEGER}, 
	</if>
	<if test="anio != null" >
		#{anio,jdbcType=INTEGER}, 
	</if>
	<if test="idunidadejecutora != null" >
		#{idunidadejecutora,jdbcType=INTEGER}, 
	</if>
	<if test="nroconsolid != null" >
		#{nroconsolid,jdbcType=VARCHAR}, 
	</if>
	<if test="especificaciontecnica != null" >
		#{especificaciontecnica,jdbcType=VARCHAR}, 
	</if>
	<if test="idcatalogotipobien != null" >
		#{idcatalogotipobien,jdbcType=VARCHAR}, 
	</if>
	<if test="montopao != null" >
		#{montopao,jdbcType=DECIMAL}, 
	</if>
	<if test="codigocentrocosto != null" >
		#{codigocentrocosto,jdbcType=VARCHAR}, 
	</if>
	<if test="nombredependencia != null" >
		#{nombredependencia,jdbcType=VARCHAR}, 
	</if>
	<if test="estado != null" >
		#{estado,jdbcType=INTEGER}, 
	</if>
	<if test="tipodocumentosinad != null" >
		#{tipodocumentosinad,jdbcType=VARCHAR}, 
	</if>
	<if test="numerodocumentosinad != null" >
		#{numerodocumentosinad,jdbcType=VARCHAR}, 
	</if>
	<if test="numerosinad != null" >
		#{numerosinad,jdbcType=INTEGER}, 
	</if>
	<if test="aniosinad != null" >
		#{aniosinad,jdbcType=INTEGER}, 
	</if>
	<if test="numeroexpedientesinad != null" >
		#{numeroexpedientesinad,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		#{fechacreacionauditoria,jdbcType=DATE}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		#{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		#{fechamodificacionauditoria,jdbcType=DATE}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		#{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		#{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		#{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		#{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</trim>
	</insert>



	<update id="updateByPrimaryKey" parameterType="pe.com.sisabas.be.Pacprogramado" >
	update abas.PacProgramado 
	set 
	IDPACPROGRAMADO = #{idpacprogramado,jdbcType=INTEGER}, ANIO = #{anio,jdbcType=INTEGER}, 
	IDUNIDADEJECUTORA = #{idunidadejecutora,jdbcType=INTEGER}, NROCONSOLID = #{nroconsolid,jdbcType=VARCHAR}, 
	ESPECIFICACIONTECNICA = #{especificaciontecnica,jdbcType=VARCHAR}, IDCATALOGOTIPOBIEN = #{idcatalogotipobien,jdbcType=VARCHAR}, 
	MONTOPAO = #{montopao,jdbcType=DECIMAL}, CODIGOCENTROCOSTO = #{codigocentrocosto,jdbcType=VARCHAR}, 
	NOMBREDEPENDENCIA = #{nombredependencia,jdbcType=VARCHAR}, ESTADO = #{estado,jdbcType=INTEGER}, 
	TIPODOCUMENTOSINAD = #{tipodocumentosinad,jdbcType=VARCHAR}, NUMERODOCUMENTOSINAD = #{numerodocumentosinad,jdbcType=VARCHAR}, 
	NUMEROSINAD = #{numerosinad,jdbcType=INTEGER}, ANIOSINAD = #{aniosinad,jdbcType=INTEGER}, 
	NUMEROEXPEDIENTESINAD = #{numeroexpedientesinad,jdbcType=VARCHAR}, FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=DATE}, 
	USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=DATE}, 
	USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR} 
	
	where IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKeySelective" parameterType="pe.com.sisabas.be.Pacprogramado" >
	update abas.PacProgramado 
	<set>
	<if test="idpacprogramado != null" >
		IDPACPROGRAMADO = #{idpacprogramado,jdbcType=INTEGER}, 
	</if>
	<if test="anio != null" >
		ANIO = #{anio,jdbcType=INTEGER}, 
	</if>
	<if test="idunidadejecutora != null" >
		IDUNIDADEJECUTORA = #{idunidadejecutora,jdbcType=INTEGER}, 
	</if>
	<if test="nroconsolid != null" >
		NROCONSOLID = #{nroconsolid,jdbcType=VARCHAR}, 
	</if>
	<if test="especificaciontecnica != null" >
		ESPECIFICACIONTECNICA = #{especificaciontecnica,jdbcType=VARCHAR}, 
	</if>
	<if test="idcatalogotipobien != null" >
		IDCATALOGOTIPOBIEN = #{idcatalogotipobien,jdbcType=VARCHAR}, 
	</if>
	<if test="montopao != null" >
		MONTOPAO = #{montopao,jdbcType=DECIMAL}, 
	</if>
	<if test="codigocentrocosto != null" >
		CODIGOCENTROCOSTO = #{codigocentrocosto,jdbcType=VARCHAR}, 
	</if>
	<if test="nombredependencia != null" >
		NOMBREDEPENDENCIA = #{nombredependencia,jdbcType=VARCHAR}, 
	</if>
	<if test="estado != null" >
		ESTADO = #{estado,jdbcType=INTEGER}, 
	</if>
	<if test="tipodocumentosinad != null" >
		TIPODOCUMENTOSINAD = #{tipodocumentosinad,jdbcType=VARCHAR}, 
	</if>
	<if test="numerodocumentosinad != null" >
		NUMERODOCUMENTOSINAD = #{numerodocumentosinad,jdbcType=VARCHAR}, 
	</if>
	<if test="numerosinad != null" >
		NUMEROSINAD = #{numerosinad,jdbcType=INTEGER}, 
	</if>
	<if test="aniosinad != null" >
		ANIOSINAD = #{aniosinad,jdbcType=INTEGER}, 
	</if>
	<if test="numeroexpedientesinad != null" >
		NUMEROEXPEDIENTESINAD = #{numeroexpedientesinad,jdbcType=VARCHAR}, 
	</if>
	<if test="fechacreacionauditoria != null" >
		FECHACREACIONAUDITORIA = #{fechacreacionauditoria,jdbcType=DATE}, 
	</if>
	<if test="usuariocreacionauditoria != null" >
		USUARIOCREACIONAUDITORIA = #{usuariocreacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="fechamodificacionauditoria != null" >
		FECHAMODIFICACIONAUDITORIA = #{fechamodificacionauditoria,jdbcType=DATE}, 
	</if>
	<if test="usuariomodificacionauditoria != null" >
		USUARIOMODIFICACIONAUDITORIA = #{usuariomodificacionauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="equipoauditoria != null" >
		EQUIPOAUDITORIA = #{equipoauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="programaauditoria != null" >
		PROGRAMAAUDITORIA = #{programaauditoria,jdbcType=VARCHAR}, 
	</if>
	<if test="estadoauditoria != null" >
		ESTADOAUDITORIA = #{estadoauditoria,jdbcType=VARCHAR}, 
	</if>
	</set>

	where IdPacProgramado = #{idpacprogramado,jdbcType=INTEGER}
	</update>


	<select id="selectDynamicBasic" resultMap="BasicResultMap"  parameterType="pe.com.sisabas.be.Pacprogramado" >
	select 'false' as QUERYID,
	<include refid="Basic_Column_List"/>
	from abas.PacProgramado A1
	<where>
		<if test="idpacprogramado != null" >
			 AND A1.IDPACPROGRAMADO = #{idpacprogramado,jdbcType=INTEGER} 
		</if>
		<if test="anio != null" >
			 AND A1.ANIO = #{anio,jdbcType=INTEGER} 
		</if>
		<if test="idunidadejecutora != null" >
			 AND A1.IDUNIDADEJECUTORA = #{idunidadejecutora,jdbcType=INTEGER} 
		</if>
		<if test="nroconsolid != null" >
			 AND A1.NROCONSOLID LIKE ('%' + #{nroconsolid,jdbcType=VARCHAR} + '%')
		</if>
		<if test="especificaciontecnica != null" >
			 AND A1.ESPECIFICACIONTECNICA LIKE ('%' + #{especificaciontecnica,jdbcType=VARCHAR} + '%')
		</if>
		<if test="idcatalogotipobien != null" >
			 AND A1.IDCATALOGOTIPOBIEN = #{idcatalogotipobien,jdbcType=VARCHAR} 
		</if>
		<if test="montopaoini != null" >
			 AND A1.MONTOPAO <![CDATA[ >= ]]> #{montopaoini,jdbcType=DECIMAL} 
		</if>

		<if test="montopaofin != null" >
			 AND A1.MONTOPAO <![CDATA[ <= ]]>  #{montopaofin,jdbcType=DECIMAL} 

		</if>
		<if test="codigocentrocosto != null" >
			 AND A1.CODIGOCENTROCOSTO LIKE ('%' + #{codigocentrocosto,jdbcType=VARCHAR} + '%')
		</if>
		<if test="nombredependencia != null" >
			 AND A1.NOMBREDEPENDENCIA LIKE ('%' + #{nombredependencia,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estado != null" >
			 AND A1.ESTADO = #{estado,jdbcType=INTEGER} 
		</if>
		<if test="tipodocumentosinad != null" >
			 AND A1.TIPODOCUMENTOSINAD LIKE ('%' + #{tipodocumentosinad,jdbcType=VARCHAR} + '%')
		</if>
		<if test="numerodocumentosinad != null" >
			 AND A1.NUMERODOCUMENTOSINAD LIKE ('%' + #{numerodocumentosinad,jdbcType=VARCHAR} + '%')
		</if>
		<if test="numerosinad != null" >
			 AND A1.NUMEROSINAD = #{numerosinad,jdbcType=INTEGER} 
		</if>
		<if test="aniosinad != null" >
			 AND A1.ANIOSINAD = #{aniosinad,jdbcType=INTEGER} 
		</if>
		<if test="numeroexpedientesinad != null" >
			 AND A1.NUMEROEXPEDIENTESINAD LIKE ('%' + #{numeroexpedientesinad,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND A1.FECHACREACIONAUDITORIA <![CDATA[ >= ]]> #{fechacreacionauditoriaini,jdbcType=DATE} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND A1.FECHACREACIONAUDITORIA <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=DATE} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND A1.FECHAMODIFICACIONAUDITORIA <![CDATA[ >= ]]> #{fechamodificacionauditoriaini,jdbcType=DATE} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND A1.FECHAMODIFICACIONAUDITORIA <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=DATE} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdunidadejecutoraInKeys != null" >
			AND A1.IDUNIDADEJECUTORA IN
			<foreach collection="listaIdunidadejecutoraInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIdcatalogotipobienInKeys != null" >
			AND A1.IDCATALOGOTIPOBIEN IN
			<foreach collection="listaIdcatalogotipobienInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>

	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>


	<select id="selectDynamicFull" resultMap="FullResultMap"  parameterType="pe.com.sisabas.be.Pacprogramado" >
	select 'false' as QUERYID,
	<include refid="Full_Column_List"/>
	from abas.PacProgramado A1
	LEFT JOIN abas.gentabla A3 ON A1.IdCatalogoTipoBien = A3.vchregCodigo
	LEFT JOIN abas.UnidadEjecutora A7 ON A1.IdUnidadEjecutora = A7.IdUnidadEjecutora
	<where>
		<if test="idpacprogramado != null" >
			 AND A1.IDPACPROGRAMADO = #{idpacprogramado,jdbcType=INTEGER} 
		</if>
		<if test="anio != null" >
			 AND A1.ANIO = #{anio,jdbcType=INTEGER} 
		</if>
		<if test="idunidadejecutora != null" >
			 AND A1.IDUNIDADEJECUTORA = #{idunidadejecutora,jdbcType=INTEGER} 
		</if>
		<if test="nroconsolid != null" >
			 AND A1.NROCONSOLID LIKE ('%' + #{nroconsolid,jdbcType=VARCHAR} + '%')
		</if>
		<if test="especificaciontecnica != null" >
			 AND A1.ESPECIFICACIONTECNICA LIKE ('%' + #{especificaciontecnica,jdbcType=VARCHAR} + '%')
		</if>
		<if test="idcatalogotipobien != null" >
			 AND A1.IDCATALOGOTIPOBIEN = #{idcatalogotipobien,jdbcType=VARCHAR} 
		</if>
		<if test="montopaoini != null" >
			 AND A1.MONTOPAO <![CDATA[ >= ]]> #{montopaoini,jdbcType=DECIMAL} 
		</if>

		<if test="montopaofin != null" >
			 AND A1.MONTOPAO <![CDATA[ <= ]]>  #{montopaofin,jdbcType=DECIMAL} 

		</if>
		<if test="codigocentrocosto != null" >
			 AND A1.CODIGOCENTROCOSTO LIKE ('%' + #{codigocentrocosto,jdbcType=VARCHAR} + '%')
		</if>
		<if test="nombredependencia != null" >
			 AND A1.NOMBREDEPENDENCIA LIKE ('%' + #{nombredependencia,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estado != null" >
			 AND A1.ESTADO = #{estado,jdbcType=INTEGER} 
		</if>
		<if test="tipodocumentosinad != null" >
			 AND A1.TIPODOCUMENTOSINAD LIKE ('%' + #{tipodocumentosinad,jdbcType=VARCHAR} + '%')
		</if>
		<if test="numerodocumentosinad != null" >
			 AND A1.NUMERODOCUMENTOSINAD LIKE ('%' + #{numerodocumentosinad,jdbcType=VARCHAR} + '%')
		</if>
		<if test="numerosinad != null" >
			 AND A1.NUMEROSINAD = #{numerosinad,jdbcType=INTEGER} 
		</if>
		<if test="aniosinad != null" >
			 AND A1.ANIOSINAD = #{aniosinad,jdbcType=INTEGER} 
		</if>
		<if test="numeroexpedientesinad != null" >
			 AND A1.NUMEROEXPEDIENTESINAD LIKE ('%' + #{numeroexpedientesinad,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechacreacionauditoriaini != null" >
			 AND A1.FECHACREACIONAUDITORIA <![CDATA[ >= ]]> #{fechacreacionauditoriaini,jdbcType=DATE} 
		</if>

		<if test="fechacreacionauditoriafin != null" >
			 AND A1.FECHACREACIONAUDITORIA <![CDATA[ <= ]]>  #{fechacreacionauditoriafin,jdbcType=DATE} 

		</if>
		<if test="usuariocreacionauditoria != null" >
			 AND A1.USUARIOCREACIONAUDITORIA LIKE ('%' + #{usuariocreacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="fechamodificacionauditoriaini != null" >
			 AND A1.FECHAMODIFICACIONAUDITORIA <![CDATA[ >= ]]> #{fechamodificacionauditoriaini,jdbcType=DATE} 
		</if>

		<if test="fechamodificacionauditoriafin != null" >
			 AND A1.FECHAMODIFICACIONAUDITORIA <![CDATA[ <= ]]>  #{fechamodificacionauditoriafin,jdbcType=DATE} 

		</if>
		<if test="usuariomodificacionauditoria != null" >
			 AND A1.USUARIOMODIFICACIONAUDITORIA LIKE ('%' + #{usuariomodificacionauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="equipoauditoria != null" >
			 AND A1.EQUIPOAUDITORIA LIKE ('%' + #{equipoauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="programaauditoria != null" >
			 AND A1.PROGRAMAAUDITORIA LIKE ('%' + #{programaauditoria,jdbcType=VARCHAR} + '%')
		</if>
		<if test="estadoauditoria != null" >
			 AND A1.ESTADOAUDITORIA LIKE ('%' + #{estadoauditoria,jdbcType=VARCHAR} + '%')
		</if>

		<if test="listaIdunidadejecutoraInKeys != null" >
			AND A1.IDUNIDADEJECUTORA IN
			<foreach collection="listaIdunidadejecutoraInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=INTEGER} </foreach>
		</if>

		<if test="listaIdcatalogotipobienInKeys != null" >
			AND A1.IDCATALOGOTIPOBIEN IN
			<foreach collection="listaIdcatalogotipobienInKeys" open="(" close=")" item="var"  separator="," >   #{var,jdbcType=VARCHAR} </foreach>
		</if>

	</where>

	<if test="ordenListaCampos != null" >
		 ORDER BY 
		<foreach collection="ordenListaCampos" item="ord"  separator="," >   ${ord} </foreach>
		<if test="ordenTipo != null" >
			 ${ordenTipo} 
		</if>
	</if>

	<if test="cantidadRegistros != null" >

	</if>
	</select>
</mapper>