<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.RequerimientoMapper" >
  <resultMap id = "result" type = "pe.com.sisabas.be.RequerimientoResponse">
      <result property = "idPedido" column="IdPedido"/>
      <result property = "nroPedido" column="NroPedido"/>
      <result property = "motivoPedido" column="MotivoPedido"/>
      <result property = "idTipoBien" column="IdTipoBien"/>
      <result property = "tipobien" column="TipoBien"/>
      <result property = "montoPedido" column="MontoPedido"/>
      <result property = "fechaPedido" column="FechaPedido"/>
      <result property = "estadoRequerimiento" column="EstadoRequerimiento"/>
      <result property = "estadoSiga" column="EstadoSiga"/>
      <result property = "desEstadoIn" column="DesEstadoIn"/>
      <result property = "estadoPedidoIn" column="EstadoPedidoIn"/>
      <result property = "secFunc" column="SecFunc"/>
      <result property = "codigoCentroCosto" column="CodigoCentroCosto"/>
      <result property = "nombreDependencia" column="NombreDependencia"/>
      <result property = "idDocumentoTecnico" column="IdDocumentoTecnico"/>
      <result property = "numeroSinad" column="NumeroSinad"/>
      <result property = "anioSinad" column="AnioSinad"/>
      <result property = "numeroExpedienteSinad" column="NumeroExpedienteSinad"/>
      <result property = "poIAsociado" column="PoIAsociado"/>
      <result property = "descTipoTDR" column="DescTipoTDR"/>
      <result property = "rowtotal" column="ROWTOTAL"/>
      <result property = "tipoDocumentoSinad" column="TipoDocumentoSinad"/>
      <result property = "numeroDocumentoSinad" column="NumeroDocumentoSinad"/>
      
      <result property = "nroPac" column="NroPac"/>
      <result property = "nroConsolid" column="NroConsolid"/>
      <result property = "tienePao" column="TienePao"/>
      
      
   </resultMap> 
   
   
   <resultMap id = "result2" type = "pe.com.sisabas.be.RequerimientoItemResponse">
      <result property = "idPedido" column="IdPedido"/>
      <result property = "idDetallePedido" column="IdDetallePedido"/>
      <result property = "grupoBien" column="GRUPO_BIEN"/>
      <result property = "claseBien" column="CLASE_BIEN"/>
      <result property = "familiaBien" column="FAMILIA_BIEN"/>
      <result property = "itemBien" column="ITEM_BIEN"/>
      <result property = "unidadMedida" column="UNIDAD_MEDIDA"/>
      <result property = "nombreItem" column="NOMBRE_ITEM"/>
      <result property = "cantSolicitada" column="CANTIDAD_SOLICITADA_SIGA"/>
      <result property = "cantAprobada" column="CANTIDAD_APROBADA_SIGA"/>
      <result property = "cantAtendida" column="CANTIDAD_ATENDIDA_SIGA"/>
      <result property = "precioUnitario" column="PRECIO_UNITARIO"/>
      <result property = "valortotal" column="VALOR_TOTAL"/>
      <result property = "descripcionEstadoSiga" column="ESTA DO_PED_SIGA_DESC"/>
      <result property = "idClasificador" column="ID_CLASIFICADOR"/>
      <result property = "clasificador" column="CLASIFICADOR"/>
      <result property = "tipoBien" column="TIPO_BIEN"/>
      <result property = "codigoTareaPlanin" column="CodigoTareaPlanin"/>
      <result property = "secFun" column="SEC_FUNC"/>
      <result property = "nombreTarea" column="NOMBRE_TAREA_SIGA"/>
   </resultMap> 
   
   
   
    <resultMap id = "result3" type = "pe.com.sisabas.be.SeguimientoResponse">
      <result property = "anio" column="ANIO" jdbcType="VARCHAR"/>
      <result property = "id" column="ID" jdbcType="VARCHAR"/>
      <result property = "nroSinad" column="NRO_SINAD" jdbcType="VARCHAR"/>
      <result property = "nroPedido" column="NRO_PEDIDO" jdbcType="VARCHAR"/>
      <result property = "tipoBien" column="TIPO_BIEN" jdbcType="VARCHAR"/>
      <result property = "nroConsolidado" column="NRO_CONSOLIDADO" jdbcType="VARCHAR"/>
      <result property = "descripcion" column="DESCRIPCION" jdbcType="VARCHAR"/>
      <result property = "valorContratacion" column="VALOR_CONTRATACION" jdbcType="VARCHAR"/>
      <result property = "codTipoProceso" column="COD_TIPO_PROCESO" jdbcType="VARCHAR"/>
      <result property = "nroProceso" column="NRO_PROCESO" jdbcType="VARCHAR"/>
      <result property = "nroContrato" column="NRO_CONTRATO" jdbcType="VARCHAR"/>
      <result property = "nroOrden" column="NRO_ORDEN" jdbcType="VARCHAR"/>
      <result property = "etapa" column="ETAPA" jdbcType="VARCHAR"/>
      <result property = "estado" column="ESTADO" jdbcType="VARCHAR"/>
      
   </resultMap> 
   
    
    
  <resultMap id = "result4" type = "pe.com.sisabas.be.SegEstadoReqResponse">
      <result property = "orden" column="ORDEN" jdbcType="VARCHAR"/>
      <result property = "estado" column="ESTADO" jdbcType="VARCHAR"/>
      <result property = "descripcionEstado" column="DESC_ESTADO" jdbcType="VARCHAR"/>
      <result property = "fechaCreacion" column="FECHA_CREACION" jdbcType="VARCHAR"/>
      <result property = "oficina" column="OFICINA" jdbcType="VARCHAR"/>
      <result property = "idDocumento" column="ID_DOCUMENTO" jdbcType="VARCHAR"/>
      <result property = "fechaDma" column="FECHA_DMA" jdbcType="TIMESTAMP"/>
      <result property = "especialista" column="ESPECIALISTA" jdbcType="VARCHAR"/>
   </resultMap> 
   
  
  
  	  
		 
	
	
   
				
   

   <select id = "selectDynamicFull" resultMap = "result" parameterType = "pe.com.sisabas.be.RequerimientoRequest" statementType = "CALLABLE">
      {call abas.paPedidosListarNoProgramado(
            #{codigoUnidadEjecutora},
            #{anoEje},
            #{pedido},
            #{tipoBien},
            #{tipoContratacion},
            #{nroExpediente},
            #{estado},
            #{centroCosto}   
      )}
   </select>
   
   <select id = "selectDynamicFullProgramado" resultMap = "result" parameterType = "pe.com.sisabas.be.RequerimientoRequest" statementType = "CALLABLE">
      {call abas.paPedidosListarProgramado(
            #{anoEje},
            #{pedido},
            #{tipoBien},
            #{tipoContratacion},
            #{nroExpediente},
            #{estado},
            #{centroCosto}   
      )}
   </select> 


   <select id = "selectDynamicBasic" resultMap = "result2" parameterType = "pe.com.sisabas.be.RequerimientoItemRequest" statementType = "CALLABLE">
      {call abas.paPedidosListarItemsNoProgramados(
            #{nroPedido},
            #{codUnidadEjecutora},
            #{ejercicio},
            #{tipoBien}   
      )}
   </select> 
   
   <select id = "insertBasic" parameterType = "pe.com.sisabas.be.RequerimientoInsertRequest" statementType = "CALLABLE">
      {call abas.paInsertarPedidos(
            #{nroPedido},
            #{codUnidadEjecutora},
            #{anoEje},
            #{tipoBien},
            #{idPeriodo},
            #{usuarioCreacion}
      )}
   </select> 
   
   <select id = "insertBasicProgramado" parameterType = "pe.com.sisabas.be.RequerimientoInsertRequest" statementType = "CALLABLE">
      {call abas.paPedidosInsertarProgramado(
            #{nroConsolid},
            #{anoEje},
            #{tipoBien},
            #{idPeriodo},
            #{idUnidadEjectura},
            #{usuarioCreacion}
      )}
   </select> 
   
   
   
   </mapper>
   
 