<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.sisabas.persistence.RequerimientoMapper" >
  <resultMap id = "result" type = "pe.com.sisabas.be.RequerimientoResponse">
      <result property = "idPedido" column="IdPedido"/>
      <result property = "nroPedido" column="NroPedido"/>
      <result property = "motivoPedido" column="MotivoPedido"/>
      <result property = "idTipoBien" column="IdTipoBien"/>
      <result property = "tipobien" column="TipoBien"/>
      <result property = "montoPedido" column="MontoPedido"/>
      <result property = "fechaPedido" column="FechaPedido"/>
      <result property = "estadoRequerimiento" column="EstadoRequerimiento"/>
      <result property = "estadoSiga" column="EstadoSiga"/>
      <result property = "desEstadoIn" column="DesEstadoIn"/>
      <result property = "estadoPedidoIn" column="EstadoPedidoIn"/>
      <result property = "secFunc" column="SecFunc"/>
      <result property = "codigoCentroCosto" column="CodigoCentroCosto"/>
      <result property = "nombreDependencia" column="NombreDependencia"/>
      <result property = "idDocumentoTecnico" column="IdDocumentoTecnico"/>
      <result property = "numeroSinad" column="NumeroSinad"/>
      <result property = "anioSinad" column="AnioSinad"/>
      <result property = "numeroExpedienteSinad" column="NumeroExpedienteSinad"/>
      <result property = "poIAsociado" column="PoIAsociado"/>
      <result property = "descTipoTDR" column="DescTipoTDR"/>
      <result property = "rowtotal" column="ROWTOTAL"/>
      <result property = "tipoDocumentoSinad" column="TipoDocumentoSinad"/>
      <result property = "numeroDocumentoSinad" column="NumeroDocumentoSinad"/>
   </resultMap> 
   
   
   <resultMap id = "result2" type = "pe.com.sisabas.be.RequerimientoItemResponse">
      <result property = "idPedido" column="IdPedido"/>
      <result property = "idDetallePedido" column="IdDetallePedido"/>
      <result property = "grupoBien" column="GRUPO_BIEN"/>
      <result property = "claseBien" column="CLASE_BIEN"/>
      <result property = "familiaBien" column="FAMILIA_BIEN"/>
      <result property = "itemBien" column="ITEM_BIEN"/>
      <result property = "unidadMedida" column="UNIDAD_MEDIDA"/>
      <result property = "nombreItem" column="NOMBRE_ITEM"/>
      <result property = "cantSolicitada" column="CANTIDAD_SOLICITADA_SIGA"/>
      <result property = "cantAprobada" column="CANTIDAD_APROBADA_SIGA"/>
      <result property = "cantAtendida" column="CANTIDAD_ATENDIDA_SIGA"/>
      <result property = "precioUnitario" column="PRECIO_UNITARIO"/>
      <result property = "valortotal" column="VALOR_TOTAL"/>
      <result property = "descripcionEstadoSiga" column="ESTA DO_PED_SIGA_DESC"/>
      <result property = "idClasificador" column="ID_CLASIFICADOR"/>
      <result property = "clasificador" column="CLASIFICADOR"/>
      <result property = "tipoBien" column="TIPO_BIEN"/>
      <result property = "codigoTareaPlanin" column="CodigoTareaPlanin"/>
      <result property = "secFun" column="SEC_FUNC"/>
      <result property = "nombreTarea" column="NOMBRE_TAREA_SIGA"/>
   </resultMap> 
   

   <select id = "selectDynamicFull" resultMap = "result" parameterType = "pe.com.sisabas.be.RequerimientoRequest" statementType = "CALLABLE">
      {call abas.paPedidosListarNoProgramado(
            #{codigoUnidadEjecutora},
            #{anoEje},
            #{pedido},
            #{tipoBien},
            #{tipoContratacion},
            #{nroExpediente},
            #{estado},
            #{centroCosto}   
      )}
   </select> 

   <select id = "selectDynamicBasic" resultMap = "result2" parameterType = "pe.com.sisabas.be.RequerimientoItemRequest" statementType = "CALLABLE">
      {call abas.paPedidosListarItemsNoProgramados(
            #{nroPedido},
            #{codUnidadEjecutora},
            #{ejercicio},
            #{tipoBien}   
      )}
   </select> 
   
   <select id = "insertBasic" parameterType = "pe.com.sisabas.be.RequerimientoInsertRequest" statementType = "CALLABLE">
      {call abas.paInsertarPedidos(
            #{nroPedido},
            #{codUnidadEjecutora},
            #{anoEje},
            #{tipoBien},
            #{idPeriodo}
      )}
   </select> 
   
   
   
   
   
   
   
   </mapper>
   
 